<a href="https://colab.research.google.com/github/castelwoah/PlayData/blob/main/workspace/week1/20240404_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install webdriver_manager

Requirement already satisfied: webdriver_manager in c:\users\playdata\miniconda3\envs\psw_py39\lib\site-packages (4.0.1)
Requirement already satisfied: requests in c:\users\playdata\miniconda3\envs\psw_py39\lib\site-packages (from webdriver_manager) (2.31.0)
Requirement already satisfied: python-dotenv in c:\users\playdata\miniconda3\envs\psw_py39\lib\site-packages (from webdriver_manager) (1.0.1)
Requirement already satisfied: packaging in c:\users\playdata\miniconda3\envs\psw_py39\lib\site-packages (from webdriver_manager) (23.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\playdata\miniconda3\envs\psw_py39\lib\site-packages (from requests->webdriver_manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\playdata\miniconda3\envs\psw_py39\lib\site-packages (from requests->webdriver_manager) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\playdata\miniconda3\envs\psw_py39\lib\site-packages (from requests->webdriver_manager) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\playdata\miniconda3\envs\psw_py39\lib\site-packages (from requests->webdriver_manager) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
driver = webdriver.Chrome(service=Service(ChromeDriverManager(driver_version="123.0.6312.105").install()))

In [ ]:
driver.get("https://www.koreabaseball.com/")

In [ ]:
from selenium.webdriver.common.by import By
driver.find_element(By.CSS_SELECTOR, "#lnb > li:nth-child(3) > a").click()
driver.page_source

'<html lang="ko"><head><title>\n\t선수 조회 | 선수 | KBO\n</title><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta http-equiv="Content-Script-Type" content="text/javascript"><meta http-equiv="Content-Style-Type" content="text/css"><meta http-equiv="X-UA-Compatible" content="IE=edge, Chrome"><meta name="title" content="KBO"><meta name="author" content="스포츠투아이"><meta name="keywords" content="KBO, 한국야구위원회, 프로야구, KBO 리그, 퓨처스리그, 프로야구순위, 프로야구 일정"><meta name="viewport" content="width=1200">\n    <!-- OG -->\n    <meta property="og:type" content="website"><meta property="og:title" content="KBO 홈페이지"><meta property="og:description" content="KBO, 한국야구위원회, 프로야구, KBO 리그, 퓨처스리그, 프로야구순위, 프로야구 일정"><meta property="og:image" content="https://lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/images/common/open_graph_kbo_2022.png"><meta property="og:url" content="https://www.koreabaseball.com/">\n\n\t<link rel="shortcut icon" type="image/x-icon" href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/images/common/favicon.ico">\n    <link rel="stylesheet" type="text/css" href="/resources/min/css/font.min.css?version=20240327 %>">\n\t<link rel="stylesheet" type="text/css" href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/reset.min.css?version=20240327">\n\t<link rel="stylesheet" type="text/css" href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/common.min.css?version=20240327">\n\t<link rel="stylesheet" type="text/css" href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/layout.min.css?version=20240327">\n\t<link rel="stylesheet" type="text/css" href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/contents.min.css?version=20240327">\n    <link rel="stylesheet" type="text/css" href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/jquery-ui.min.css?version=20240327">\n    <link rel="stylesheet" type="text/css" href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/jquery-ui-theme.min.css?version=20240327">\n\t<link rel="stylesheet" type="text/css" href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/jquery.bxslider.min.css?version=20240327">\n\n\t<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-L70ZGXMJEC&amp;l=dataLayer&amp;cx=c"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-K3BL64Q"></script><script type="text/javascript" charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/jquery-1.12.4.min.js?version=20240318"></script>\n    <script type="text/javascript" charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/jquery-migrate-1.1.1.min.js?version=20240318"></script>\n    <script type="text/javascript" charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/jquery-ui.min.js?version=20240318"></script>\n\t<script type="text/javascript" charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/jquery.bxslider.min.js?version=20240318"></script>\n    <script type="text/javascript" charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/jquery.ui.datepicker-ko.min.js?version=20240318"></script>\n    <script type="text/javascript" charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/S2i.Common-1.0.1.min.js?version=20240318"></script>\n    <script type="text/javascript" charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/S2i.Paging-1.0.8.min.js?version=20240318"></script>\n\t<script type="text/javascript" charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/common.min.js?version=20240318"></script>\n    <script type="text/javascript" charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/S2i.MakeTable-1.0.3.min.js?version=20240318"></script>\n    <script type="text/javascript" charset="utf-8" src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/bTogether.min.js?version=20240318"></script>\n    \n\t<!--—[if lt IE 9]-->\n\t\t<script src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/js/html5shiv.min.js?version=20240318"></script>\n\t<!--[endif]—-->\n\t<!-- Google Tag Manager -->\n\t<script>\n\t\t(function (w, d, s, l, i) {\n\t\t\tw[l] = w[l] || []; w[l].push({\n\t\t\t\t\'gtm.start\':\n\t\t\t\t\tnew Date().getTime(), event: \'gtm.js\'\n\t\t\t}); var f = d.getElementsByTagName(s)[0],\n\t\t\t\tj = d.createElement(s), dl = l != \'dataLayer\' ? \'&l=\' + l : \'\'; j.async = true; j.src =\n\t\t\t\t\t\'https://www.googletagmanager.com/gtm.js?id=\' + i + dl; f.parentNode.insertBefore(j, f);\n\t\t})(window, document, \'script\', \'dataLayer\', \'GTM-K3BL64Q\');\n\n        $(document).ready(function () {\n            var jbOffset = $(\'.lnb-wrap\').offset();\n            $(window).scroll(function () {\n                if ($(document).scrollTop() > jbOffset.top) {\n                    $(\'.lnb-wrap\').addClass(\'fixed\');\n                }\n                else {\n                    $(\'.lnb-wrap\').removeClass(\'fixed\');\n                }\n            });\n        });\n    </script>\n\t<!-- End Google Tag Manager -->\n    \n    <link rel="stylesheet" type="text/css" href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/sub.min.css?version=20240327">\n    \n\t<link type="text/css" rel="stylesheet" href="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/min/css/player.min.css?version=20240327">\n\n\n<meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9"></head>\n<body>\n\t<!-- Google Tag Manager (noscript) -->\n\t<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3BL64Q"\n\theight="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>\n\t<!-- End Google Tag Manager (noscript) -->\n    <form method="post" action="./Search.aspx" id="mainForm">\n<div class="aspNetHidden">\n<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="">\n<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="">\n<input type="hidden" name="__LASTFOCUS" id="__LASTFOCUS" value="">\n<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTg2NjUyOTUxOA9kFgJmD2QWAmYPZBYCZg9kFgICAQ9kFgJmD2QWAgIBD2QWAgIDD2QWAgICD2QWAmYPZBYIZg8QDxYGHg1EYXRhVGV4dEZpZWxkBQhGSVJTVF9OTR4ORGF0YVZhbHVlRmllbGQFBFRfSUQeC18hRGF0YUJvdW5kZ2QQFQsK7YyAIOyEoO2DnQbtlZztmZQDS0lBA1NTRwJOQwJMRwbtgqTsm4AG65GQ7IKwBuuhr+uNsAbsgrzshLECS1QVCwACSEgCSFQCU0sCTkMCTEcCV08CT0ICTFQCU1MCS1QUKwMLZ2dnZ2dnZ2dnZ2cWAWZkAgEPEGRkFgFmZAICDw9kFgIeCm9ua2V5cHJlc3MFeWlmKGV2ZW50LmtleUNvZGUgPT0gMTMpe19fZG9Qb3N0QmFjaygnY3RsMDAkY3RsMDAkY3RsMDAkY3BoQ29udGVudHMkY3BoQ29udGVudHMkY3BoQ29udGVudHMkYnRuU2VhcmNoJywnJyk7cmV0dXJuIGZhbHNlO31kAgUPDxYGHglQYWdlSW5kZXgFATEeCFBhZ2VTaXplBQIyMB4NVG90YWxSb3dDb3VudGZkFhwCAQ8PFgIeB1Zpc2libGVoZGQCAw8PFgIfB2hkZAIFDw8WBh4EVGV4dAUBMR4IQ3NzQ2xhc3MFAm9uHgRfIVNCAgJkZAIHDw8WCB8IBQEyHwllHwoCAh8HaGRkAgkPDxYIHwgFATMfCWUfCgICHwdoZGQCCw8PFggfCAUBNB8JZR8KAgIfB2hkZAINDw8WCB8IBQE1HwllHwoCAh8HaGRkAg8PDxYGHwllHwoCAh8HaGRkAhEPDxYGHwllHwoCAh8HaGRkAhMPDxYGHwllHwoCAh8HaGRkAhUPDxYGHwllHwoCAh8HaGRkAhcPDxYGHwllHwoCAh8HaGRkAhkPDxYCHwdoZGQCGw8PFgIfB2hkZGRlbENCvN5P6S7tf0Zqbemn/HTqvnKhmJ8om+wMlp4lgA==">\n</div>\n\n<script type="text/javascript">\n//<![CDATA[\nvar theForm = document.forms[\'mainForm\'];\nif (!theForm) {\n    theForm = document.mainForm;\n}\nfunction __doPostBack(eventTarget, eventArgument) {\n    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {\n        theForm.__EVENTTARGET.value = eventTarget;\n        theForm.__EVENTARGUMENT.value = eventArgument;\n        theForm.submit();\n    }\n}\n//]]>\n</script>\n\n\n<script src="/WebResource.axd?d=olnV6V0NxhTPpnGME-bNNQ6pi75OV_deSGeqFxpioAx0cQkwDM2mNvhy4kTxbV6cPswqqmdks9Vwl__B9jsMMXiuRyr-_P1xLqWVz_rHh381&amp;t=638403948553933774" type="text/javascript"></script>\n\n\n<script src="/ScriptResource.axd?d=eLqvTZrSDFtYbPijNtyjIT6CVEgjpBaYOXOadsXTlFHYXIHUwPYcJXQzz3Z7lykZBuXl4A9Xj7n7yBoZ8IStMlsNtFc27j6WGyPVl81XsDWWuDpDofyRThhVLkxWNlX4IqkhRSTznXpsTOu2gxjlxeLlbk_PmW_CInh0qHnCDMiBW3zvAHoQSIWpasgKujn20&amp;t=3cf0aaa4" type="text/javascript"></script>\n<script type="text/javascript">\n//<![CDATA[\nif (typeof(Sys) === \'undefined\') throw new Error(\'ASP.NET Ajax 클라이언트 쪽 프레임워크를 로드하지 못했습니다.\');\n//]]>\n</script>\n\n<script src="/ScriptResource.axd?d=IOnAAAPDuS0PgKHiQk14EYOCdHyPkTAcqSpwegGFc2wfv36lCYBem21UeaNPPaoqZzGNcLB1DcP-3rWrTJ3u4SE4LCAC1YeyOhhg1dfzQudQM2Ecd2jpkeCyI_GYwC1nB5MKkkRs_7ZKlw9FY-9FKGquBfoJ5VCgagj_zlARsUNlnLMfPW9BV7Ix6pqzesGE0&amp;t=3cf0aaa4" type="text/javascript"></script>\n<div class="aspNetHidden">\n\n\t<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="6942A5F7">\n\t<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdABXX0kHSt1LaEkWD/dZ7ZqIlqUK6+mRsdxhnNCA+WG212kNgeBSbNKLKcKTg82HGZ5NVZUXxd/uiJhLNEa+9Xxmnq4ym2DyQjvtJtTj77nmU2SWPyJkVhvXuOBYs5qqOoCkBG/Pf3I75C3rKX8xVtEwoiVx6kVF0VGZJQWZrhVqbDXQgPm7fZa70OwZ7d7Dp1WD6RDwCo8sThGuE7pkUKp4ELFTyRKjJp7D7xwfXSCRqX+YV1RayUE7lu2lnIyp2EXiuz8ymDRyZ9YseNRvSITkLYsasFt+7FfwAs6g8a36bapjfFDeu2NDc13pCkdcMGuGM1LdB1BdIShiN9H1skvV4F1JgdjTRh5oeAN6Yg5M8ELpmrE3ZItDca36f0/kynHQIcBFwjnAKA7Co0KA6ls0JuuwNcLXb9Hf3j9q4Bnx0xSIEsp38v5tQJGTakYgKU9E2Tf5SdzgwDnnmUIUE47JLSG/AbS+d3x9CxKPJsqvhGw==">\n</div>\n\t    <!-- wrap -->\n\t    <div id="wrap">\n\t\t    <!-- header -->\n\t\t    <header>\t\n\t\t\t    <div id="gnb" class="bgf3">\n\t\t\t\t    <div class="gnb-wrap">\n\t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t    <ul class="menu">\n                            \n\t\t\t\t\t\t    <li><a href="/Member/Login.aspx">로그인</a></li>\n                            <li><a href="/Member/Join/Accessterms.aspx">회원가입</a></li>\n                            \n\t\t\t\t\t\t    <li><a href="http://eng.koreabaseball.com/">ENGLISH</a></li>\t\t\t\t\t\t\n\t\t\t\t\t    </ul>\n\t\t\t\t\t    <div class="search-area">\n\t\t\t\t\t\t    <div class="search-box">\n\t\t\t\t\t\t\t    <input class="ipt-search" type="text" id="txtTopPlayerWord" placeholder="선수 검색하기">\n\t\t\t\t\t\t\t    <a href="#none;" id="btnTopPlayerSearch" class="btn-search"><img src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/images/common/btn_search.png" alt="검색"></a>\n\t\t\t\t\t\t    </div>\n\t\t\t\t\t\t    <div id="player_search_area" class="search-result">\n\t\t\t\t\t\t\t    <!-- <p class="null">검색 결과가 없습니다.</p> -->\n\t\t\t\t\t\t\t    \n\t\t\t\t\t\t    </div>\n\t\t\t\t\t    </div>\n\t\t\t\t    </div>\n\t\t\t    </div>\n\t\t\t    <div class="wrapping lnb-wrap">\n                    <div class="lnb-box">\n\t\t\t\t\t\t<h1 class="logo"><a href="/Default.aspx"><img src="//lgcxydabfbch3774324.cdn.ntruss.com/KBO_IMAGE/KBOHome/resources/images/common/h1_logo.png" alt=""></a></h1>\n\t\t\t\t\t\t<nav>\n\t\t\t\t\t    <ul id="lnb">\n\t\t\t\t\t\t    <li>\n\t\t\t\t\t\t\t    <a href="/Schedule/Schedule.aspx">일정・결과</a>\n\t\t\t\t\t\t\t    <div class="lnb-sub">\n\t\t\t\t\t\t\t\t    <ul class="lnb01">\n                                        <li><a href="/Schedule/Schedule.aspx">경기일정・결과</a></li>\n\t\t\t\t\t\t\t\t\t    \n\t\t\t\t\t\t\t\t\t    <li><a href="/Schedule/GameCenter/Main.aspx">게임센터</a></li>\n\t\t\t\t\t\t\t\t\t    <li><a href="/Schedule/ScoreBoard.aspx">스코어보드</a></li>\n                                        <li><a href="/Schedule/Allstar/Game/Main2023.aspx">올스타전</a></li>\n\t\t\t\t\t\t\t\t\t    <li><a href="/Schedule/International/APBC/Main2023.aspx">국제대회</a></li>\n                                        <li><a href="/Schedule/Weather.aspx">야구장 날씨</a></li>\n\t\t\t\t\t\t\t\t    </ul>\n\t\t\t\t\t\t\t    </div>\n\t\t\t\t\t\t    </li>\n\t\t\t\t\t\t    <li>\n\t\t\t\t\t\t\t    <a href="/Record/Player/HitterBasic/Basic1.aspx?sort=HRA_RT">기록・순위</a>\n\t\t\t\t\t\t\t    <div class="lnb-sub">\n\t\t\t\t\t\t\t\t    <ul class="lnb02">\n\t\t\t\t\t\t\t\t\t    <li><a href="/Record/Player/HitterBasic/Basic1.aspx?sort=HRA_RT">기록실</a></li>\n\t\t\t\t\t\t\t\t\t    <li><a href="/Record/TeamRank/TeamRankDaily.aspx">팀 순위</a></li>\n\t\t\t\t\t\t\t\t\t    <li><a href="/Record/Ranking/Top5.aspx">선수 순위</a></li>\n\t\t\t\t\t\t\t\t\t    <li><a href="/Record/History/Top/Hitter.aspx">역대 기록</a></li>\n                                        <li><a href="/Record/Expectation/WeekList.aspx">예상 달성 기록</a></li>\n\t\t\t\t\t\t\t\t\t\t<li><a href="/Record/RecordCorrect/RecordCorrect.aspx">기록 정정 현황</a></li>\n\t\t\t\t\t\t\t\t\t\t<li><a href="/Record/Crowd/GraphTeam.aspx">관중 현황</a></li>\n\t\t\t                            \n\t\t\t\t\t\t\t\t    </ul>\n\t\t\t\t\t\t\t    </div>\n\t\t\t\t\t\t    </li>\n\t\t\t\t\t\t    <li>\n\t\t\t\t\t\t\t    <a href="/Player/Search.aspx">선수</a>\n\t\t\t\t\t\t\t    <div class="lnb-sub">\n\t\t\t\t\t\t\t\t    <ul class="lnb04">\n\t\t\t\t\t\t\t\t\t    <li><a href="/Player/Search.aspx">선수 조회</a></li>\n\t\t\t\t\t\t\t\t\t    <li><a href="/Player/Register.aspx">선수 등록 현황</a></li>\n\t\t\t\t\t\t\t\t\t\t<li><a href="/Player/Trade.aspx">선수 이동 현황</a></li>\n\t\t\t\t\t\t\t\t\t\t<li><a href="/Player/Awards/PlayerPrize.aspx">수상 현황</a></li>\n\t\t\t\t\t\t\t\t\t\t<li><a href="/Player/Legend40.aspx">레전드 40</a></li>\n\t\t\t\t\t\t\t\t\t    <li><a href="/Player/CareerCertificate.aspx">경력증명서 신청</a></li>\n\n\t\t\t\t\t\t\t\t\t    \n\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t    </ul>\n\t\t\t\t\t\t\t    </div>\n\t\t\t\t\t\t    </li>\t\t\t\t\t\t    \n\t\t\t\t\t\t    <li>\n\t\t\t\t\t\t\t    <a href="/MediaNews/Highlight/List.aspx">미디어・뉴스</a>\n\t\t\t\t\t\t\t    <div class="lnb-sub">\n\t\t\t\t\t\t\t\t    <ul class="lnb05">\n\t\t\t\t\t\t\t\t\t\t<li><a href="/MediaNews/Highlight/List.aspx">하이라이트</a></li>\n\t\t\t\t\t\t\t\t\t\t<li><a href="/MediaNews/News/BreakingNews/List.aspx">뉴스</a></li>\n\t\t\t\t\t\t\t\t\t\t<li><a href="/MediaNews/Notice/List.aspx">KBO 보도자료</a></li>\n\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t<li><a href="/MediaNews/UbivMarketer/VideoList.aspx">대학생 마케터</a></li>\n\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\n                                        \n\t\t\t\t\t\t\t\t\t</ul>\n\t\t\t\t\t\t\t    </div>\n\t\t\t\t\t\t    </li>\n\t\t\t\t\t\t    <li>\n\t\t\t\t\t\t\t    <a href="javascript:;">KBO</a>\n\t\t\t\t\t\t\t    <div class="lnb-sub lnb-style-all">\n\t\t\t\t\t\t\t\t    <div class="wrapping lnb-all-wrap" style="width:713px;">\n\t\t\t\t\t\t\t\t\t    <h3>KBO</h3>\n\t\t\t\t\t\t\t\t\t    <div class="lnb-all kbo01">\n\t\t\t\t\t\t\t\t\t\t    <h4>KBO 리그</h4>\n\t\t\t\t\t\t\t\t\t\t    <ul>\n\t\t\t\t\t\t\t\t\t\t\t    <li><a href="/Kbo/League/GameManage2024.aspx">2024 규정∙규칙 변화</a></li>\n\t\t\t\t\t\t\t\t\t\t\t    <li><a href="/Kbo/League/GameManageRule/GameManage.aspx">경기운영제도</a></li>\n\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/Kbo/League/TeamInfo.aspx">구단 소개</a></li>\n\t\t\t\t\t\t\t\t\t\t\t    <li><a href="/Kbo/League/TeamHistory.aspx">구단 변천사</a></li>\n\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/Kbo/League/Map.aspx">티켓 안내</a></li>\n\t\t\t\t\t\t\t\t\t\t    </ul>\n\t\t\t\t\t\t\t\t\t    </div>\n\t\t\t\t\t\t\t\t\t    <div class="lnb-all kbo02">\n\t\t\t\t\t\t\t\t\t\t    <h4>게시판</h4>\n\t\t\t\t\t\t\t\t\t\t    <ul>\n\t\t\t\t\t\t\t\t\t\t\t    <li><a href="/Kbo/Board/Notice/List.aspx">NOTICE</a></li>\n\t\t\t\t\t\t\t\t\t\t\t    <li><a href="/Kbo/Board/Faqs/List.aspx">자주 하는 질문</a></li>\n\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/Kbo/Board/Ebook/EbookPublication.aspx">규정・자료실</a></li>\n\n\t\t\t\t\t\t\t\t\t\t\t    \n\t\t\t\t\t\t\t\t\t\t\t    \n\t\t\t\t\t\t\t\t\t\t\t    \n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t    \n\t\t\t\t\t\t\t\t\t\t\t    \n\t\t\t\t\t\t\t\t\t\t\t    \n\t\t\t\t\t\t\t\t\t\t\t    \n\t\t\t\t\t\t\t\t\t\t\t    \n\t\t\t\t\t\t\t\t\t\t    </ul>\n\t\t\t\t\t\t\t\t\t    </div>\t\n\t\t\t\t\t\t\t\t\t    <div class="lnb-all kbo03">\n\t\t\t\t\t\t\t\t\t\t    <h4>ABOUT KBO</h4>\n\t\t\t\t\t\t\t\t\t\t    <ul>\n\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/Kbo/AboutKbo/GroupAndActivity.aspx">조직・활동</a></li>\n\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/Kbo/AboutKbo/Logo/Logo.aspx">KBO 로고</a></li>\n\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/Kbo/AboutKbo/Committee/OrganizationChart.aspx">기록위원회</a></li>\n\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/Kbo/AboutKbo/MedicalCommittee/MedicalOrganization.aspx">의무위원회</a></li>\n                                                \n\t\t\t\t\t\t\t\t\t\t\t    \n                                                \n\t\t\t\t\t\t\t\t\t\t    </ul>\n\t\t\t\t\t\t\t\t\t    </div>\t\n\t\t\t\t\t\t\t\t\t    <div class="lnb-all kbo04">\n\t\t\t\t\t\t\t\t\t\t    <h4>주요 사업・행사</h4>\n\t\t\t\t\t\t\t\t\t\t    <ul>\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t<li class="lnbMedia"><a href="/Kbo/BusinessAndEvent/MediaDay.aspx">미디어데이&amp;팬페스트</a></li>\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t \n\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/Kbo/BusinessAndEvent/SafeGuide.aspx">KBO 경기장 안전정책</a></li>\n\t\t\t\t\t\t\t\t\t\t\t\t \n\t\t\t\t\t\t\t\t\t\t\t\t \n\n\t\t\t\t\t\t\t\t\t\t\t                                                    \n\t\t\t\t\t\t\t\t\t\t\t    \n\t\t\t\t\t\t\t\t\t\t\t    \n\t\t\t\t\t\t\t\t\t\t\t\t\n\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t                                \n\t\t\t\t                                \n\t\t\t\t\t\t\t\t\t\t    </ul>\n\t\t\t\t\t\t\t\t\t    </div>\t\n\t\t\t\t\t\t\t\t\t    \t\n\t\t\t\t\t\t\t\t\t    \n\t\t\t\t\t\t\t\t    </div>\n\t\t\t\t\t\t\t\t    \n\t\t\t\t\t\t\t    </div>\n\t\t\t\t\t\t    </li>\n\t\t\t\t\t\t\t<li class="futures">\n\t\t\t\t\t\t\t    <a href="/Futures/Main.aspx">퓨처스리그</a>\n\t\t\t\t\t\t\t    <div class="lnb-sub">\n\t\t\t\t\t\t\t\t    <ul class="lnb06">\n\t\t\t\t\t\t\t\t\t    <li><a href="/Futures/Schedule/GameList.aspx">경기일정・결과</a></li>\n\t\t\t\t\t\t\t\t\t    <li><a href="/Futures/TeamRank/North.aspx">팀 순위</a></li>\n\t\t\t\t\t\t\t\t\t    <li><a href="/Futures/Top/Main.aspx">TOP5</a></li>\n\t\t\t\t\t\t\t\t\t    <li><a href="/Futures/Player/Hitter.aspx">기록실</a></li>\n\t\t\t\t\t\t\t\t\t\t<li><a href="/Futures/Player/Register.aspx">선수 등록 현황</a></li>\n\t\t\t\t\t\t\t\t\t    \n                                        \n                                        \n\t\t\t\t\t\t\t\t\t    \n\t\t\t\t\t\t\t\t\t    \t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t    </ul>\n\t\t\t\t\t\t\t    </div>\t\t\t\t\t\n\t\t\t\t\t\t    </li>\n\t\t\t\t\t\t\t<li id="market" class="market"><a href="https://www.kbomarket.com/" target="_blank">KBO 마켓</a></li>\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t<li id="" class="kbofont" data-tab="KboFont"><a href="/Reference/etc/KboFont.aspx">KBO 폰트</a></li>\n\t\t\t\t\t\t    <li id="lnbAll">\n\t\t\t\t\t\t\t    <a href="javascript:;">전체 메뉴</a>\n\t\t\t\t\t\t\t    <div class="lnb-sub lnb-style-all">\n\t\t\t\t\t\t\t\t    <div class="wrapping lnb-all-wrap">\n\t\t\t\t\t\t\t\t\t    <div class="line line01">\n\t\t\t\t\t\t\t\t\t\t    <h3>전체 메뉴</h3>\n\t\t\t\t\t\t\t\t\t\t    <div class="lnb-all menu01">\n\t\t\t\t\t\t\t\t\t\t\t    <h4>일정・결과</h4>\n\t\t\t\t\t\t\t\t\t\t\t    <ul>\n\t\t\t\t\t\t\t\t\t\t\t\t    <li><a href="/Schedule/Schedule.aspx">경기일정・결과</a></li>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/Schedule/GameCenter/Main.aspx">게임센터</a></li>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/Schedule/ScoreBoard.aspx">스코어보드</a></li>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/Schedule/Allstar/Game/Main2023.aspx">올스타전</a></li>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<li><a href="/Schedule/International/APBC/Main2023.aspx">국제대회</a></l

In [ ]:
driver.find_element(By.CSS_SELECTOR, "#cphContents_cphContents_cphContents_ddlTeam > option:nth-child(3)").click()

In [ ]:
# playid 데이터 제작

import time
import re
pattern = re.compile("playerId=([0-9]+)")
# 정규식

select_page = "#cphContents_cphContents_cphContents_ucPager_btnNo{}"
select_team = "#cphContents_cphContents_cphContents_ddlTeam > option:nth-child({})"
playid = []
for x in range(2,12):
    for_1 = select_team.format(x)
    driver.find_element(By.CSS_SELECTOR, for_1).click()
    time.sleep(2)
    #playid.extend(pattern.findall(driver.page_source))
    for y in range(1,6):
        f2 = select_page.format(y)
        try:
            driver.find_element(By.CSS_SELECTOR, f2).click()
            time.sleep(1)
            playid.extend(pattern.findall(driver.page_source))
        except Exception as e:
            print ("page 없음 ")
        time.sleep(2)

page 없음

In [ ]:
len(list(set(playid)))

844

In [ ]:
import pickle
# binary save, load
with open()

In [ ]:
import pickle
# binary save , load
with open("./kbo.pkl", "wb") as f:
    pickle.dump(playid, f)

In [ ]:
import pickle
with open("./kbo.pkl", "rb") as f:
    abc = pickle.load(f)

In [ ]:
# 선수 번호
playid

['50705',
 '52769',
 '54707',
 '54708',
 '71837',
 '69702',
 '51713',
 '51715',
 '54705',
 '68707',
 '65764',
 '65769',
 '50710',
 '53754',
 '54709',
 '50711',
 '66715',
 '63765',
 '52706',
 '68701',
 '66704',
 '69518',
 '50720',
 '69737',
 '76715',
 '52701',
 '51705',
 '53764',
 '66707',
 '67703',
 '68703',
 '51761',
 '69974',
 '53714',
 '54704',
 '53711',
 '53704',
 '51767',
 '54701',
 '53717',
 '51704',
 '79608',
 '52702',
 '69703',
 '51202',
 '54702',
 '69766',
 '52765',
 '63464',
 '54703',
 '65703',
 '76849',
 '65616',
 '53795',
 '65117',
 '52704',
 '52714',
 '68706',
 '68797',
 '54706',
 '68700',
 '67993',
 '76812',
 '66657',
 '63749',
 '60768',
 '50704',
 '51762',
 '79764',
 '77318',
 '69645',
 '66706',
 '54794',
 '74857',
 '68743',
 '69767',
 '54768',
 '51796',
 '69705',
 '65707',
 '79192',
 '50707',
 '78288',
 '54710',
 '52720',
 '54730',
 '62700',
 '52710',
 '50726',
 '61666',
 '69706',
 '54795',
 '54729',
 '54607',
 '54613',
 '67604',
 '68069',
 '61353',
 '53609',
 '51640',
 '76225',
 '66614',
 '69620',
 '60337',
 '52605',
 '53618',
 '69745',
 '54614',
 '69627',
 '54608',
 '54645',
 '63894',
 '67610',
 '78603',
 '66492',
 '51666',
 '68659',
 '53619',
 '52661',
 '78122',
 '54609',
 '69516',
 '65653',
 '62947',
 '54640',
 '51645',
 '50657',
 '52634',
 '67609',
 '63638',
 '64646',
 '69727',
 '78168',
 '54610',
 '52630',
 '77637',
 '50622',
 '69636',
 '68614',
 '67640',
 '50604',
 '52667',
 '53613',
 '68619',
 '53615',
 '54644',
 '52647',
 '53663',
 '51605',
 '63260',
 '51648',
 '65665',
 '64560',
 '62951',
 '62754',
 '66833',
 '51665',
 '51603',
 '63950',
 '66609',
 '50662',
 '53659',
 '54667',
 '66354',
 '66807',
 '66606',
 '65464',
 '52639',
 '54611',
 '72443',
 '54612',
 '63722',
 '68646',
 '69643',
 '50600',
 '65610',
 '52641',
 '62925',
 '51868',
 '72523',
 '53803',
 '77829',
 '54810',
 '62864',
 '53893',
 '50848',
 '76802',
 '53865',
 '65411',
 '54811',
 '66917',
 '69825',
 '52803',
 '73211',
 '54804',
 '53806',
 '50868',
 '62869',
 '54802',
 '64944',
 '64893',
 '54807',
 '67893',
 '53800',
 '50812',
 '51860',
 '60841',
 '54805',
 '69839',
 '54814',
 '54808',
 '69803',
 '61895',
 '53898',
 '66662',
 '52873',
 '66864',
 '53897',
 '53827',
 '53825',
 '50859',
 '60558',
 '68801',
 '54809',
 '64861',
 '52868',
 '53892',
 '54806',
 '53809',
 '67807',
 '79456',
 '67164',
 '68869',
 '50820',
 '66858',
 '65058',
 '54812',
 '54815',
 '51897',
 '51865',
 '69804',
 '69802',
 '68856',
 '65157',
 '68805',
 '69893',
 '52805',
 '75847',
 '68868',
 '50854',
 '54803',
 '51817',
 '69813',
 '68092',
 '62895',
 '69801',
 '54813',
 '50840',
 '53994',
 '54908',
 '63963',
 '54913',
 '54901',
 '69980',
 '62934',
 '54905',
 '67900',
 '68928',
 '68900',
 '54909',
 '64580',
 '51907',
 '53993',
 '54910',
 '67954',
 '67956',
 '54912',
 '53990',
 '50902',
 '68912',
 '54959',
 '69996',
 '53914',
 '54944',
 '66965',
 '65949',
 '53973',
 '67063',
 '79215',
 '62907',
 '62244',
 '50996',
 '50906',
 '54911',
 '69900',
 '68097',
 '69994',
 '53992',
 '53988',
 '64995',
 '53999',
 '66068',
 '52906',
 '69995',
 '67962',
 '77532',
 '54904',
 '69962',
 '69203',
 '68902',
 '53989',
 '53919',
 '53991',
 '61411',
 '50901',
 '64022',
 '68904',
 '54906',
 '63905',
 '51948',
 '77211',
 '65964',
 '60263',
 '53996',
 '52905',
 '54900',
 '63959',
 '50900',
 '69204',
 '69969',
 '54907',
 '51701',
 '65241',
 '67905',
 '68909',
 '66920',
 '69984',
 '54903',
 '66963',
 '69992',
 '54920',
 '69991',
 '54930',
 '64101',
 '51994',
 '50903',
 '54902',
 '50105',
 '54104',
 '51143',
 '69100',
 '51109',
 '54164',
 '66145',
 '54107',
 '67504',
 '53144',
 '52105',
 '69105',
 '68130',
 '64596',
 '50157',
 '68109',
 '54103',
 '66162',
 '75867',
 '51154',
 '50115',
 '76290',
 '54166',
 '51103',
 '69102',
 '68119',
 '79365',
 '53139',
 '51112',
 '62415',
 '54116',
 '63145',
 '68096',
 '65109',
 '68159',
 '54156',
 '67143',
 '68110',
 '65207',
 '54108',
 '65115',
 '54134',
 '53123',
 '54105',
 '79109',
 '51526',
 '50106',
 '63961',
 '51110',
 '69168',
 '61145',
 '68106',
 '50904',
 '69108',
 '54110',
 '61101',
 '67123',
 '69159',
 '54149',
 '51163',
 '54148',
 '79140',
 '54112',
 '65905',
 '52103',
 '65320',
 '69103',
 '50107',
 '50096',
 '63248',
 '50108',
 '77243',
 '53102',
 '66108',
 '54344',
 '53312',
 '53164',
 '50393',
 '53344',
 '50360',
 '50304',
 '66018',
 '67828',
 '68346',
 '51303',
 '54368',
 '65898',
 '54319',
 '69367',
 '67391',
 '62332',
 '69306',
 '54302',
 '51393',
 '54397',
 '64984',
 '67304',
 '51344',
 '52394',
 '53327',
 '60336',
 '54304',
 '53305',
 '52305',
 '66305',
 '54350',
 '53301',
 '69363',
 '52348',
 '54303',
 '68305',
 '53307',
 '53309',
 '54363',
 '65357',
 '53303',
 '54394',
 '50312',
 '54308',
 '54306',
 '53308',
 '67365',
 '68330',
 '53300',
 '67116',
 '53304',
 '54307',
 '76118',
 '52395',
 '69399',
 '69366',
 '52397',
 '53302',
 '74163',
 '54301',
 '75566',
 '54305',
 '50354',
 '50167',
 '78135',
 '53306',
 '64346',
 '64340',
 '51359',
 '54362',
 '78148',
 '63342',
 '68848',
 '69360',
 '69332',
 '52396',
 '52330',
 '76267',
 '64350',
 '54354',
 '53375',
 '63123',
 '54268',
 '51269',
 '68220',
 '68204',
 '77263',
 '66112',
 '69238',
 '51294',
 '51230',
 '67246',
 '54215',
 '53205',
 '68200',
 '65269',
 '53262',
 '63257',
 '74206',
 '78224',
 '68830',
 '69207',
 '54217',
 '54263',
 '68269',
 '53201',
 '52025',
 '54219',
 '67259',
 '64468',
 '53204',
 '63292',
 '68249',
 '65639',
 '66928',
 '54213',
 '50204',
 '67266',
 '68207',
 '53298',
 '52257',
 '66203',
 '54216',
 '64011',
 '69045',
 '64153',
 '76232',
 '50293',
 '51200',
 '54205',
 '50208',
 '53296',
 '69205',
 '69206',
 '52204',
 '51296',
 '64805',
 '66291',
 '52295',
 '67207',
 '50262',
 '53293',
 '54236',
 '50244',
 '63202',
 '54221',
 '54214',
 '68205',
 '69211',
 '79231',
 '64202',
 '68242',
 '50211',
 '66209',
 '50296',
 '50298',
 '51264',
 '67263',
 '50206',
 '53259',
 '52206',
 '53297',
 '79240',
 '61643',
 '66233',
 '54567',
 '54506',
 '65514',
 '54508',
 '69517',
 '63543',
 '54510',
 '65522',
 '54511',
 '68585',
 '69592',
 '52504',
 '53554',
 '77564',
 '76430',
 '62528',
 '51516',
 '67539',
 '51551',
 '62931',
 '54529',
 '50592',
 '54502',
 '64021',
 '62802',
 '69507',
 '50563',
 '54503',
 '69594',
 '63512',
 '52528',
 '54504',
 '54507',
 '53569',
 '54512',
 '51528',
 '50150',
 '51594',
 '69508',
 '60140',
 '64017',
 '54509',
 '78756',
 '53546',
 '61102',
 '54513',
 '52591',
 '67588',
 '52530',
 '51592',
 '54595',
 '68529',
 '64565',
 '67644',
 '51560',
 '53562',
 '53594',
 '69453',
 '54598',
 '62611',
 '68507',
 '54561',
 '78513',
 '54505',
 '53568',
 '68518',
 '68556',
 '51546',
 '53559',
 '54537',
 '60523',
 '64717',
 '52558',
 '76650',
 '64718',
 '51564',
 '68036',
 '51574',
 '50556',
 '62884',
 '68525',
 '62363',
 '68260',
 '50596',
 '50500',
 '74540',
 '64610',
 '68407',
 '62404',
 '61365',
 '54401',
 '69442',
 '66838',
 '51403',
 '54402',
 '64793',
 '53421',
 '52460',
 '54403',
 '67449',
 '51409',
 '67467',
 '52430',
 '53400',
 '65132',
 '65062',
 '52424',
 '54407',
 '50458',
 '68454',
 '62360',
 '65040',
 '61404',
 '51417',
 '54460',
 '54443',
 '53404',
 '62234',
 '54424',
 '53469',
 '53409',
 '53416',
 '54466',
 '53411',
 '77446',
 '53428',
 '54405',
 '66406',
 '54408',
 '69403',
 '61268',
 '75421',
 '75334',
 '51466',
 '69446',
 '54406',
 '54404',
 '68463',
 '62929',
 '69428',
 '63960',
 '66409',
 '50464',
 '51454',
 '60146',
 '63492',
 '52415',
 '54410',
 '51407',
 '54411',
 '53455',
 '78352',
 '52417',
 '77927',
 '65586',
 '54467',
 '50414',
 '51468',
 '62146',
 '67421',
 '68419',
 '66451',
 '68501',
 '54452',
 '50413',
 '51462',
 '51408',
 '50430',
 '65496',
 '50441',
 '53006',
 '69064',
 '68050',
 '50066',
 '64001',
 '53049',
 '51005',
 '51008',
 '68043',
 '54097',
 '54094',
 '65048',
 '64004',
 '52002',
 '79402',
 '50093',
 '51097',
 '53029',
 '62558',
 '54013',
 '68906',
 '66064',
 '67025',
 '53036',
 '64007',
 '67419',
 '73113',
 '69056',
 '75125',
 '66047',
 '60559',
 '68068',
 '52060',
 '54008',
 '54009',
 '64166',
 '52043',
 '50109',
 '50030',
 '69041',
 '64012',
 '51057',
 '68067',
 '62556',
 '54007',
 '67006',
 '68002',
 '65056',
 '64504',
 '73117',
 '54063',
 '54064',
 '68093',
 '50092',
 '54010',
 '69054',
 '69068',
 '54012',
 '54011',
 '67048',
 '67066',
 '53005',
 '53001',
 '68896',
 '69623',
 '68504',
 '78548',
 '64115',
 '69047',
 '53058',
 '53004',
 '68089',
 '50114',
 '64868',
 '64768',
 '65060',
 '50054',
 '51007',
 '54006',
 '53010',
 '69032',
 '78517',
 '53096',
 '51058',
 '67005',
 '53003',
 '76313']

In [ ]:
# 링크확보
url = "https://www.koreabaseball.com/Record/Player/PitcherDetail/Basic.aspx?playerId={}"

In [ ]:
head = {"User-Agent": \
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36 Edg/116.0.1938.62"}

In [ ]:
import requests
for i in playid:
    r = requests.get(url.format(playid))
    print(r.text)

In [ ]:
# 50705 선수 정보 주소
r = requests.get(url.format("50705"))

In [ ]:
from bs4 import BeautifulSoup as BS
# html로 변경
bs = BS(r.text)

In [ ]:
bs.findAll("h4", class_="team regular/2024/emblem_HH")[0].text

'한화 이글스'

In [ ]:
playerinfo = bs.find('div', class_='player_info')
playerinfo.find('h4').text

'한화 이글스'

In [ ]:
stronglist = playerinfo.findAll('strong')
stronglist[0].text.strip()[:-1]

'선수명'

In [ ]:
spanlist = playerinfo.findAll('span')
spanlist[1].text

'강재민'

In [ ]:
# 선수정보 수집
# strong: 구분
stronglist = playerinfo.findAll('strong')
# span: 답
spanlist = playerinfo.findAll('span')
playerdict= {}
for i in range(len(playerinfo)):
    playerdict[stronglist[i].text.strip()[:-1]] = spanlist[i+1].text

In [ ]:
playerdict

{'선수명': '강재민',
 '등번호': '',
 '생년월일': '1997년 04월 03일',
 '포지션': '투수(우언우타)',
 '신장/체중': '180cm/89kg',
 '경력': '양덕초-마산중-용마고-단국대',
 '입단 계약금': '8000만원',
 '연봉': '14500만원',
 '지명순위': '20 한화 2차 4라운드 38순위'}

In [ ]:
# 선수 번호 대입
from bs4 import BeautifulSoup as BS
import requests

# 선수 번호
# playid

profilelist = []
count = 0
"""len(playid)"""
for j in range(0, 10):
    # 선수정보주소
    r = requests.get(url.format(playid[j]))
    # html로 변경
    bs = BS(r.text)
    playerinfo = bs.find('div', class_='player_info')
    # strong: 구분
    stronglist = playerinfo.findAll('strong')
    # span: 답
    spanlist = playerinfo.findAll('span')

    playerdict= {}
    for i in range(len(playerinfo)):
        playerdict['팀'] = playerinfo.find('h4').text
        playerdict[stronglist[i].text.strip()[:-1]] = spanlist[i+1].text
    profilelist.append(playerdict)

    count += 1
    if count%10 == 0:
        print(count)

print("all done")

10
all done

In [ ]:
profilelist[2]

{'팀': '한화 이글스',
 '선수명': '권동욱',
 '등번호': '02',
 '생년월일': '2001년 01월 08일',
 '포지션': '외야수(우투우타)',
 '신장/체중': '173cm/85kg',
 '경력': '가동초-휘문중-배명고-동국대',
 '입단 계약금': '',
 '연봉': '3000만원',
 '지명순위': '24 한화 육성선수'}

In [ ]:
bs.findAll('li', class_='odd')[0].find('span').text

'김진욱'

In [ ]:
playid[2]

'54707'

## 함수로 제작

In [ ]:
play_url = "https://www.koreabaseball.com/Record/Player/PitcherDetail/Basic.aspx?playerId={}"
from bs4 import BeautifulSoup as BS
import requests

In [ ]:
def get_kbo(id_):
    kbo_r = requests.get(play_url.format(id_))
    bs = BS(kbo_r.text)
    data = {x.text.split(":")[0] : x.text.split(":")[1] for x in bs.find("div", class_= "player_basic").findAll("li")}
    data['team'] = bs.find("h4", id="h4Team").text
    return data

In [ ]:
get_kbo(54708)

{'선수명': ' 권현',
 '등번호': ' No.111',
 '생년월일': ' 2005년 02월 23일',
 '포지션': ' 외야수(우투우타)',
 '신장/체중': ' 182cm/88kg',
 '경력': ' 사당초-언북중-장충고',
 '입단 계약금': ' 3000만원',
 '연봉': ' 3000만원',
 '지명순위': ' 24 한화 10라운드 91순위',
 '입단년도': ' ',
 'team': '한화 이글스'}

# 데이터 프레임 제작

In [ ]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp39-cp39-win_amd64.whl.metadata (19 kB)
Collecting numpy<2,>=1.22.4 (from pandas)
  Downloading numpy-1.26.4-cp39-cp39-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ------ --------------------------------- 10.2/61.0 kB ? eta -:--:--
     ------------------------------- ------ 51.2/61.0 kB 660.6 kB/s eta 0:00:01
     -------------------------------------- 61.0/61.0 kB 651.3 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\playdata\miniconda3\envs\psw_py39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\playdata\miniconda3\envs\psw_py39\lib\site-packages (from pandas) (2023.3.post1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\playdata\miniconda3\envs\psw_py39\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.1-cp39-cp39-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   - -------------------------------------- 0.3/11.6 MB 6.3 MB/s eta 0:00:02
   --- ------------------------------------ 1.0/11.6 MB 10.7 MB/s eta 0:00:01
   ------- -------------------------------- 2.1/11.6 MB 14.7 MB/s eta 0:00:01
   -------- ------------------------------- 2.4/11.6 MB 12.9 MB/s eta 0:00:01
   ------------ --------------------------- 3.6/11.6 MB 15.3 MB/s eta 0:00:01
   ---------------- ----------------------- 4.7/11.6 MB 16.7 MB/s eta 0:00:01
   ------------------- -------------------- 5.8/11.6 MB 17.5 MB/s eta 0:00:01
   ---------------------- ----------------- 6.5/11.6 MB 17.4 MB/s eta 0:00:01
   ------------------------ --------------- 7.0/11.6 MB 17.2 MB/s eta 0:00:01
   --------------------------- ------------ 8.0/11.6 MB 18.2 MB/s eta 0:00:01
   ---------------------------- ----------- 8.4/11.6 MB 16.2 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 17.0 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.6 MB 17.7 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 19.3 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 18.2 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp39-cp39-win_amd64.whl (15.8 MB)
   ---------------------------------------- 0.0/15.8 MB ? eta -:--:--
   --- ------------------------------------ 1.2/15.8 MB 26.1 MB/s eta 0:00:01
   ------ --------------------------------- 2.6/15.8 MB 32.7 MB/s eta 0:00:01
   ------ --------------------------------- 2.6/15.8 MB 32.7 MB/s eta 0:00:01
   ---------- ----------------------------- 4.3/15.8 MB 25.2 MB/s eta 0:00:01
   ------------ --------------------------- 5.0/15.8 MB 24.6 MB/s eta 0:00:01
   ------------------- -------------------- 7.7/15.8 MB 30.9 MB/s eta 0:00:01
   ------------------- -------------------- 7.8/15.8 MB 24.9 MB/s eta 0:00:01
   --------------------- ------------------ 8.6/15.8 MB 23.0 MB/s eta 0:00:01
   ------------------------------- -------- 12.6/15.8 MB 29.7 MB/s eta 0:00:01
   ----------------------------------- ---- 14.2/15.8 MB 32.7 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 36.4 MB/s eta 0:00:01
   ---------------------------------------- 15.8/15.8 MB 32.7 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 20.9 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
df = pd.DataFrame([get_kbo(x) for x in playid])

KeyboardInterrupt:

In [ ]:
with open('./kbo_detail.pk1', 'wb') as f:
    pickle.dump(df, f)

NameError: name 'df' is not defined

In [ ]:
import os
os.getcwd()

'C:\\Users\\Playdata'

In [ ]:
with open('./kbo_detail.pkl', 'rb') as f:
    kdf = pickle.load(f)

In [ ]:
kdf

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,team
0,강재민,No.,1997년 04월 03일,투수(우언우타),180cm/89kg,양덕초-마산중-용마고-단국대,8000만원,14500만원,20 한화 2차 4라운드 38순위,20한화,한화 이글스
1,권광민,No.17,1997년 12월 12일,외야수(좌투좌타),189cm/102kg,서울청구초-홍은중-장충고,,3300만원,22 한화 2차 5라운드 41순위,16시카고컵스,한화 이글스
2,권동욱,No.02,2001년 01월 08일,외야수(우투우타),173cm/85kg,가동초-휘문중-배명고-동국대,,3000만원,24 한화 육성선수,,한화 이글스
3,권현,No.111,2005년 02월 23일,외야수(우투우타),182cm/88kg,사당초-언북중-장충고,3000만원,3000만원,24 한화 10라운드 91순위,,한화 이글스
4,김강민,No.9,1982년 09월 13일,외야수(우투우타),182cm/87kg,본리초-대구중-경북고-SK-SSG,11000만원,11000만원,01 SK 2차 2라운드 18순위,01SK,한화 이글스
...,...,...,...,...,...,...,...,...,...,...,...
839,한민우,No.96,1999년 04월 27일,투수(좌투좌타),177cm/82kg,동일중앙초-경남중-경남고,1000만원,3000만원,23 KT 육성선수,,KT 위즈
840,한차현,No.59,1998년 11월 30일,투수(우투우타),180cm/80kg,사능초(남양주리틀)-청원중-포항제철고-성균관대,10000만원,3100만원,21 KT 2차 2라운드 15순위,21KT,KT 위즈
841,홍현빈,No.31,1997년 08월 29일,외야수(우투좌타),174cm/70kg,수원신곡초-매송중-유신고-KT-상무,9000만원,4500만원,17 KT 2차 3라운드 21순위,17KT,KT 위즈
842,황의준,No.103,2002년 04월 06일,외야수(우투좌타),185cm/95kg,칠성초-경복중-경북고-수성대,4000만원,3000만원,23 KT 8라운드 80순위,,KT 위즈
843,황재균,No.10,1987년 07월 28일,내야수(우투우타),183cm/96kg,사당초-서울이수중-경기고-현대-히어로즈-롯데-샌프란시스코,6000만원,100000만원,06 현대 2차 3라운드 24순위,06현대,KT 위즈

In [ ]:
kdf.shape

(844, 11)

In [ ]:
kdf.duplicated().sum()

0

In [ ]:
kdf.drop_duplicates().shape
# 중복값 제거

(844, 11)

In [ ]:
kdf.shape

(844, 11)

In [ ]:
kdf.drop_duplicates(inplace=True)

In [ ]:
kdf.shape

(844, 11)

In [ ]:
kdf['team'].value_counts()

team
한화 이글스      93
NC 다이노스     89
KT 위즈       87
롯데 자이언츠     85
삼성 라이온즈     85
KIA 타이거즈    84
두산 베어스      84
SSG 랜더스     81
LG 트윈스      74
키움 히어로즈     59
고양 히어로즈     23
Name: count, dtype: int64

In [ ]:
set(kdf[kdf.team == 'KT 위즈'].선수명.values) - set([' 강건', ' 강민성', ' 강백호', ' 강현우', ' 고영표', ' 김건웅', ' 김건형', ' 김규대',
       ' 김민', ' 김민석', ' 김민성', ' 김민수', ' 김민혁', ' 김병준', ' 김상수', ' 김성균',
       ' 김영현', ' 김정운', ' 김준태', ' 김지민', ' 김철호', ' 김태오', ' 로하스', ' 류현인',
       ' 문상철', ' 문용익', ' 박경수', ' 박민석', ' 박병호', ' 박세진', ' 박시영', ' 박시윤',
       ' 박영현', ' 박정현', ' 박태완', ' 배정대', ' 벤자민', ' 성재헌', ' 소형준', ' 손동현',
       ' 이종혁', ' 이준명', ' 이준희', ' 이채호', ' 이태규', ' 이호연', ' 장성우', ' 장준원',
       ' 전용주', ' 정준영', ' 정진호', ' 조대현', ' 조용근', ' 조용호', ' 조이현', ' 주권',
       ' 천성호', ' 최성민', ' 최윤서', ' 최정태', ' 쿠에바스', ' 하준호', ' 한민우', ' 한차현',
       ' 홍현빈', ' 황의준', ' 황재균'])

{' 송민섭',
 ' 신범준',
 ' 신병률',
 ' 신본기',
 ' 신호준',
 ' 안치영',
 ' 양승혁',
 ' 엄상백',
 ' 오윤석',
 ' 우규민',
 ' 원상현',
 ' 육청명',
 ' 윤강찬',
 ' 윤준혁',
 ' 이근혁',
 ' 이상동',
 ' 이선우',
 ' 이승언',
 ' 이승현',
 ' 이정현'}

In [ ]:
kdf['team'].value_counts()

team
한화 이글스      93
NC 다이노스     89
KT 위즈       87
롯데 자이언츠     85
삼성 라이온즈     85
KIA 타이거즈    84
두산 베어스      84
SSG 랜더스     81
LG 트윈스      74
키움 히어로즈     59
고양 히어로즈     23
Name: count, dtype: int64

In [ ]:
len(kdf['포지션'].value_counts().index)

19

In [ ]:
kdf['포지션'].unique().size

19

In [ ]:
kdf['신장/체중']

0        180cm/89kg
1       189cm/102kg
2        173cm/85kg
3        182cm/88kg
4        182cm/87kg
           ...
839      177cm/82kg
840      180cm/80kg
841      174cm/70kg
842      185cm/95kg
843      183cm/96kg
Name: 신장/체중, Length: 844, dtype: object

# 파생변수

### 데이터 내에 새로운 변수

In [ ]:
import numpy as np

In [ ]:
%%time
tmp = [x**2 for x in range(10000000)]

CPU times: total: 5.88 s
Wall time: 5.86 s

In [ ]:
%%time
# 브로드캐스팅
# 벡터연산
tmp2 = np.array(np.arange(10000000)) ** 2

CPU times: total: 141 ms
Wall time: 114 ms

In [ ]:
kdf['신장'] = kdf['신장/체중'].apply(lambda x : int(x.split("/")[0].replace("cm", '')))

In [ ]:
kdf['체중'] = kdf['신장/체중'].apply(lambda x : int(x.split("/")[1].replace("kg", '')))

In [ ]:
txt.head(3)

,선수명,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,team,신장,체중,bmi
0,강재민,No.,1997년 04월 03일,투수(우언우타),양덕초-마산중-용마고-단국대,8000만원,14500만원,20 한화 2차 4라운드 38순위,20한화,한화 이글스,180,89,27.469136
1,권광민,No.17,1997년 12월 12일,외야수(좌투좌타),서울청구초-홍은중-장충고,,3300만원,22 한화 2차 5라운드 41순위,16시카고컵스,한화 이글스,189,102,28.554632
2,권동욱,No.02,2001년 01월 08일,외야수(우투우타),가동초-휘문중-배명고-동국대,,3000만원,24 한화 육성선수,,한화 이글스,173,85,28.400548

In [ ]:
kdf.tail(3)

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,team,신장,체중
841,홍현빈,No.31,1997년 08월 29일,외야수(우투좌타),174cm/70kg,수원신곡초-매송중-유신고-KT-상무,9000만원,4500만원,17 KT 2차 3라운드 21순위,17KT,KT 위즈,174,70
842,황의준,No.103,2002년 04월 06일,외야수(우투좌타),185cm/95kg,칠성초-경복중-경북고-수성대,4000만원,3000만원,23 KT 8라운드 80순위,,KT 위즈,185,95
843,황재균,No.10,1987년 07월 28일,내야수(우투우타),183cm/96kg,사당초-서울이수중-경기고-현대-히어로즈-롯데-샌프란시스코,6000만원,100000만원,06 현대 2차 3라운드 24순위,06현대,KT 위즈,183,96

In [ ]:
# 신체질량지수(BMI) = 체중(kg) / [신장(m)]2
kdf["bmi"] = kdf['체중'] / (kdf['신장'] / 100)**2

In [ ]:
kdf.sort_values(by=['bmi'], ascending=False)

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,team,신장,체중,bmi
10,김민우,No.53,1995년 07월 25일,투수(우투우타),186cm/123kg,사파초-마산중-용마고,20000만원,16700만원,15 한화 2차 1라운드 1순위,15한화,한화 이글스,186,123,35.553243
356,김범석,No.55,2004년 05월 21일,포수(우투우타),178cm/110kg,김해삼성초-경남중-경남고,25000만원,3300만원,23 LG 1라운드 7순위,23LG,LG 트윈스,178,110,34.717839
30,박성웅,No.63,1999년 08월 20일,투수(좌투좌타),178cm/109kg,광주서석초-충장중-광주제일고,10000만원,3300만원,18 한화 2차 2라운드 14순위,18한화,한화 이글스,178,109,34.402222
57,이성원,No.98,1999년 11월 02일,내야수(우투우타),185cm/115kg,수원신곡초-매향중-장안고,6000만원,3000만원,18 한화 2차 6라운드 54순위,,한화 이글스,185,115,33.601169
509,김기연,No.45,1997년 09월 07일,포수(우투우타),178cm/106kg,광주수창초-진흥중-진흥고-LG,7000만원,4000만원,16 LG 2차 4라운드 34순위,17LG,두산 베어스,178,106,33.455372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,성지훈,No.97,2000년 01월 29일,투수(좌투좌타),181cm/68kg,송정동초-무등중-광주제일고-동아대,,3000만원,23 한화 육성선수,24한화,한화 이글스,181,68,20.756387
804,엄상백,No.18,1996년 10월 04일,투수(우언우타),187cm/72kg,역삼초-언북중-덕수고-KT-상무,23000만원,25000만원,15 KT 1차,15KT,KT 위즈,187,72,20.589665
821,이태규,No.45,2000년 02월 21일,투수(우투좌타),188cm/72kg,희망대초-매향중-장안고-KIA,8000만원,3000만원,19 KIA 2차 3라운드 30순위,23KIA,KT 위즈,188,72,20.371209
379,백선기,No.114,1998년 08월 27일,투수(좌투좌타),186cm/70kg,남도초-경상중-대구상원고-KT,5000만원,3000만원,18 KT 2차 7라운드 61순위,,LG 트윈스,186,70,20.233553
673,강한울,No.6,1991년 09월 12일,내야수(우투좌타),181cm/66kg,사당초-중앙중-안산공고-원광대-KIA-삼성-상무,14000만원,10000만원,14 KIA 2차 1라운드 5순위,14KIA,삼성 라이온즈,181,66,20.145905

In [ ]:
kdf.drop(['신장/체중'], axis=1)
# 신장/체중을 지워줘 일단 반영하진말고

,선수명,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,team,신장,체중,bmi
0,강재민,No.,1997년 04월 03일,투수(우언우타),양덕초-마산중-용마고-단국대,8000만원,14500만원,20 한화 2차 4라운드 38순위,20한화,한화 이글스,180,89,27.469136
1,권광민,No.17,1997년 12월 12일,외야수(좌투좌타),서울청구초-홍은중-장충고,,3300만원,22 한화 2차 5라운드 41순위,16시카고컵스,한화 이글스,189,102,28.554632
2,권동욱,No.02,2001년 01월 08일,외야수(우투우타),가동초-휘문중-배명고-동국대,,3000만원,24 한화 육성선수,,한화 이글스,173,85,28.400548
3,권현,No.111,2005년 02월 23일,외야수(우투우타),사당초-언북중-장충고,3000만원,3000만원,24 한화 10라운드 91순위,,한화 이글스,182,88,26.566840
4,김강민,No.9,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고-SK-SSG,11000만원,11000만원,01 SK 2차 2라운드 18순위,01SK,한화 이글스,182,87,26.264944
...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,한민우,No.96,1999년 04월 27일,투수(좌투좌타),동일중앙초-경남중-경남고,1000만원,3000만원,23 KT 육성선수,,KT 위즈,177,82,26.173833
840,한차현,No.59,1998년 11월 30일,투수(우투우타),사능초(남양주리틀)-청원중-포항제철고-성균관대,10000만원,3100만원,21 KT 2차 2라운드 15순위,21KT,KT 위즈,180,80,24.691358
841,홍현빈,No.31,1997년 08월 29일,외야수(우투좌타),수원신곡초-매송중-유신고-KT-상무,9000만원,4500만원,17 KT 2차 3라운드 21순위,17KT,KT 위즈,174,70,23.120624
842,황의준,No.103,2002년 04월 06일,외야수(우투좌타),칠성초-경복중-경북고-수성대,4000만원,3000만원,23 KT 8라운드 80순위,,KT 위즈,185,95,27.757487
843,황재균,No.10,1987년 07월 28일,내야수(우투우타),사당초-서울이수중-경기고-현대-히어로즈-롯데-샌프란시스코,6000만원,100000만원,06 현대 2차 3라운드 24순위,06현대,KT 위즈,183,96,28.666129

In [ ]:
kdf.drop(['신장/체중'], axis=1, inplace=True)
# 신장/체중을 지워줘 바로 반영

In [ ]:
kdf.groupby(['team'])['bmi'].mean()
# 시리즈

team
KIA 타이거즈    26.544495
KT 위즈       25.736477
LG 트윈스      26.030905
NC 다이노스     25.957081
SSG 랜더스     25.967989
고양 히어로즈     25.514269
두산 베어스      25.987765
롯데 자이언츠     26.481472
삼성 라이온즈     26.194392
키움 히어로즈     26.615679
한화 이글스      26.665788
Name: bmi, dtype: float64

In [ ]:
kdf.groupby(['team'], as_index=False)[['bmi']].mean()
# 데이터프레임

        team        bmi
0   KIA 타이거즈  26.544495
1      KT 위즈  25.736477
2     LG 트윈스  26.030905
3    NC 다이노스  25.957081
4    SSG 랜더스  25.967989
5    고양 히어로즈  25.514269
6     두산 베어스  25.987765
7    롯데 자이언츠  26.481472
8    삼성 라이온즈  26.194392
9    키움 히어로즈  26.615679
10    한화 이글스  26.665788

In [ ]:
np.array(np.arange(1,11)).mean()
#평균

5.5

In [ ]:
np.array(np.arange(1,11)).var()
# 분산

8.25

In [ ]:
pd.DataFrame({'a':range(1,11)}).mean()
# 평균

a    5.5
dtype: float64

In [ ]:
pd.DataFrame({'a':range(1,11)}).var()
# 분산

a    9.166667
dtype: float64

In [ ]:
kdf

,선수명,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,team,신장,체중,bmi
0,강재민,No.,1997년 04월 03일,투수(우언우타),양덕초-마산중-용마고-단국대,8000만원,14500만원,20 한화 2차 4라운드 38순위,20한화,한화 이글스,180,89,27.469136
1,권광민,No.17,1997년 12월 12일,외야수(좌투좌타),서울청구초-홍은중-장충고,,3300만원,22 한화 2차 5라운드 41순위,16시카고컵스,한화 이글스,189,102,28.554632
2,권동욱,No.02,2001년 01월 08일,외야수(우투우타),가동초-휘문중-배명고-동국대,,3000만원,24 한화 육성선수,,한화 이글스,173,85,28.400548
3,권현,No.111,2005년 02월 23일,외야수(우투우타),사당초-언북중-장충고,3000만원,3000만원,24 한화 10라운드 91순위,,한화 이글스,182,88,26.566840
4,김강민,No.9,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고-SK-SSG,11000만원,11000만원,01 SK 2차 2라운드 18순위,01SK,한화 이글스,182,87,26.264944
...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,한민우,No.96,1999년 04월 27일,투수(좌투좌타),동일중앙초-경남중-경남고,1000만원,3000만원,23 KT 육성선수,,KT 위즈,177,82,26.173833
840,한차현,No.59,1998년 11월 30일,투수(우투우타),사능초(남양주리틀)-청원중-포항제철고-성균관대,10000만원,3100만원,21 KT 2차 2라운드 15순위,21KT,KT 위즈,180,80,24.691358
841,홍현빈,No.31,1997년 08월 29일,외야수(우투좌타),수원신곡초-매송중-유신고-KT-상무,9000만원,4500만원,17 KT 2차 3라운드 21순위,17KT,KT 위즈,174,70,23.120624
842,황의준,No.103,2002년 04월 06일,외야수(우투좌타),칠성초-경복중-경북고-수성대,4000만원,3000만원,23 KT 8라운드 80순위,,KT 위즈,185,95,27.757487
843,황재균,No.10,1987년 07월 28일,내야수(우투우타),사당초-서울이수중-경기고-현대-히어로즈-롯데-샌프란시스코,6000만원,100000만원,06 현대 2차 3라운드 24순위,06현대,KT 위즈,183,96,28.666129

# 20240405

In [ ]:
# loc iloc
kdf.loc[2,'경력':]

경력         가동초-휘문중-배명고-동국대
입단 계약금
연봉                  3000만원
지명순위            24 한화 육성선수
입단년도
team                한화 이글스
신장                     173
체중                      85
bmi              28.400548
Name: 2, dtype: object

In [ ]:
# 인덱스를 만들어서 사용할 수 있음
kdf.set_index("선수명").loc["권동욱", '신장']

173

In [ ]:
kdf['선수명']

0      강재민
1      권광민
2      권동욱
3       권현
4      김강민
      ...
839    한민우
840    한차현
841    홍현빈
842    황의준
843    황재균
Name: 선수명, Length: 844, dtype: object

In [ ]:
def tmp(x):
    return x.strip()

In [ ]:
kdf.선수명 = kdf.선수명.apply(lambda x : x.strip())

In [ ]:
mask = kdf.연봉.str.find('달러') > -1

In [ ]:
kdf[mask]

,선수명,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,team,신장,체중,bmi
33,산체스,No.34,1997년 04월 11일,투수(좌투좌타),베네수엘라 Fernando Ramirez(고),,500000달러,23 한화 자유선발,23한화,한화 이글스,178,99,31.246055
84,페냐,No.20,1990년 01월 25일,투수(우투우타),도미니카 Crecimiento Credy(고),100000달러,650000달러,22 한화 자유선발,22한화,한화 이글스,188,99,28.010412
85,페라자,No.30,1998년 11월 10일,외야수(우투양타),베네수엘라 San Isidro Labrador(고),200000달러,600000달러,24 한화 자유선발,24한화,한화 이글스,175,88,28.734694
124,네일,No.40,1993년 02월 08일,투수(우투우타),미국 Charleston(고)-미국 Alabama at Birmingham(대),200000달러,350000달러,24 KIA 자유선발,24KIA,KIA 타이거즈,193,83,22.282477
134,소크라테스,No.30,1992년 09월 06일,외야수(좌투좌타),도미니카 Liceo Cacique Enriquillo(고),100000달러,500000달러,22 KIA 자유선발,22KIA,KIA 타이거즈,188,93,26.312811
170,크로우,No.12,1994년 09월 09일,투수(우투우타),미국 Pigeon Forge(고)-미국 South Carolina(대),200000달러,600000달러,24 KIA 자유선발,24KIA,KIA 타이거즈,185,108,31.555880
194,더거,No.33,1995년 07월 03일,투수(우투우타),미국 Tomball(고)-미국 Texas Tech(대),100000달러,650000달러,24 SSG 자유선발,24SSG,SSG 랜더스,183,83,24.784258
218,에레디아,No.27,1991년 01월 31일,외야수(좌투우타),쿠바 Eide Luis Agusto Tursios Lima,,1150000달러,23 SSG 자유선발,23SSG,SSG 랜더스,178,88,27.774271
219,엘리아스,No.55,1988년 08월 01일,투수(좌투좌타),쿠바 Omar Ranedo(고),,650000달러,23 SSG 자유선발,23SSG,SSG 랜더스,185,92,26.880935
283,데이비슨,No.24,1991년 03월 26일,내야수(우투우타),미국 Yucaipa(고),140000달러,560000달러,24 NC 자유선발,24NC,NC 다이노스,190,104,28.808864
340,카스타노,No.20,1994년 09월 17일,투수(좌투좌타),미국 Baylor(대),130000달러,520000달러,24 NC 자유선발,24NC,NC 다이노스,190,104,28.808864
342,하트,No.30,1992년 11월 23일,투수(좌투좌타),미국 Indiana(대),200000달러,500000달러,24 NC 자유선발,24NC,NC 다이노스,196,90,23.427738
388,엔스,No.34,1991년 05월 16일,투수(좌투좌타),미국 Central Michigan,300000달러,600000달러,24 LG 자유선발,24LG,LG 트윈스,185,95,27.757487
389,오스틴,No.23,1993년 10월 14일,내야수(우투우타),미국 Klein Collins(고),100000달러,800000달러,23 LG 자유선발,23LG,LG 트윈스,183,97,28.964735
413,켈리,No.3,1989년 10월 04일,투수(우투우타),미국 Sarasota(고),300000달러,800000달러,19 LG 자유선발,19LG,LG 트윈스,191,98,26.863299
446,도슨,No.27,1995년 05월 19일,외야수(우투좌타),미국 Ohio Licking Heights(고),,550000달러,23 키움 자유선발,23키움,키움 히어로즈,183,100,29.860551
501,헤이수스,No.54,1996년 12월 10일,투수(좌투좌타),베네수엘라 Juanita Hernandez(고),,600000달러,24 키움 자유선발,24키움,키움 히어로즈,192,104,28.211806
502,후라도,No.75,1996년 01월 30일,투수(우투우타),파나마 San Judas Tadeo(고),,1200000달러,23 키움 자유선발,23키움,키움 히어로즈,187,109,31.170465
528,라모스,No.4,1992년 04월 15일,외야수(우투양타),푸에르토리코 Alfonso Casta Martinez(고)-KT,100000달러,550000달러,22 KT 자유선발,22KT,두산 베어스,183,97,28.964735
542,브랜든,No.48,1994년 06월 03일,투수(좌투좌타),미국 Virginia(대),,750000달러,22 두산 자유선발,22두산,두산 베어스,190,81,22.437673
546,알칸타라,No.43,1992년 12월 04일,투수(우투우타),도미니카 Liceo secundario Emma Balaguer(고)-KT,200000달러,800000달러,19 KT 자유선발,19KT,두산 베어스,193,100,26.846358
607,레이예스,No.29,1994년 10월 05일,외야수(우투양타),베네수엘라 Dr Felipe Guevara(고),100000달러,600000달러,24 롯데 자유선발,24롯데,롯데 자이언츠,196,87,22.646814
617,반즈,No.28,1995년 10월 01일,투수(좌투좌타),미국 Clemson(대),150000달러,850000달러,22 롯데 자유선발,22롯데,롯데 자이언츠,189,91,25.475211
630,윌커슨,No.46,1989년 05월 24일,투수(우투우타),미국 Cumberland(대),,600000달러,23 롯데 자유선발,23롯데,롯데 자이언츠,188,104,29.425079
702,레예스,No.43,1996년 11월 02일,투수(우투우타),도미니카 Melida Altagracia Baez(고),100000달러,500000달러,24 삼성 자유선발,24삼성,삼성 라이온즈,198,113,28.823589
705,맥키넌,No.24,1994년 12월 15일,내야수(우투우타),미국 Hartford(대),100000달러,900000달러,24 삼성 자유선발,24삼성,삼성 라이온즈,188,101,28.576279
750,코너,No.52,1996년 01월 24일,투수(우투우타),미국 California State(대),100000달러,800000달러,24 삼성 자유선발,24삼성,삼성 라이온즈,188,95,26.878678
779,로하스,No.3,1990년 05월 24일,외야수(우투양타),미국 Wabash Valley(대)-KT,100000달러,500000달러,17 KT 자유선발,17KT,KT 위즈,189,102,28.554632
793,벤자민,No.43,1993년 07월 26일,투수(좌투좌타),미국 Kansas(대),100000달러,900000달러,22 KT 자유선발,22KT,KT 위즈,188,95,26.878678
837,쿠에바스,No.32,1990년 10월 14일,투수(우투양타),베네수엘라 Carabobo(대),250000달러,1000000달러,19 KT 자유선발,19KT,KT 위즈,188,98,27.727478

In [ ]:
a = pd.DataFrame({"col1": [1,2,3,4], "col2": [5,6,7,8]})

In [ ]:
b = a

In [ ]:
b.loc[1,'col2'] = 100

In [ ]:
b

   col1  col2
0     1     5
1     2   100
2     3     7
3     4     8

In [ ]:
# 이렇게 사용하면 메모리 이슈로 잔소리 창이 열린다
# tmpdf = kdf[mask]
tmpdf = kdf[mask].copy()

In [ ]:
tmpdf['ggg'] = 1000

In [ ]:
tmpdf.ggg

33     1000
84     1000
85     1000
124    1000
134    1000
170    1000
194    1000
218    1000
219    1000
283    1000
340    1000
342    1000
388    1000
389    1000
413    1000
446    1000
501    1000
502    1000
528    1000
542    1000
546    1000
607    1000
617    1000
630    1000
702    1000
705    1000
750    1000
779    1000
793    1000
837    1000
Name: ggg, dtype: int64

# 환율정보 가져오기

In [ ]:
# 환율정보 가져올것
payload = {"ajax": "true",
"curCd": "",
"tmpInqStrDt": "2024-04-04",
"pbldDvCd": "0",
"pbldSqn": "",
"hid_key_data": "",
"inqStrDt": "20240404",
"inqKindCd": "1",
"hid_enc_data": "",
"requestTarget": "searchContentDiv"}

url = "https://www.kebhana.com/cms/rate/wpfxd651_01i_01.do"

In [ ]:
import requests
r = requests.post(url, data = payload)

In [ ]:
import requests

payload = {"ajax": "true",
"curCd": "",
"tmpInqStrDt": "2024-04-03",
"pbldDvCd": "0",
"pbldSqn": "",
"hid_key_data": "",
"inqStrDt": "20240403",
"inqKindCd": "1",
"hid_enc_data": "",
"requestTarget": "searchContentDiv",}

url = "https://www.kebhana.com/cms/rate/wpfxd651_01i_01.do"

r = requests.post(url, data=payload)

hana = pd.read_html(r.text)[0]

C:\Users\Playdata\AppData\Local\Temp\ipykernel_8860\2272482784.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  hana = pd.read_html(r.text)[0]

In [ ]:
kdf.columns.values

array(['선수명', '등번호', '생년월일', '포지션', '경력', '입단 계약금', '연봉', '지명순위', '입단년도',
       'team', '신장', '체중', 'bmi'], dtype=object)

In [ ]:
hana.columns
# 멀티 인덱스이다

MultiIndex([(       '통화',        '통화',        '통화'),
            (       '현찰',      '사실 때',        '환율'),
            (       '현찰',      '사실 때',    'Spread'),
            (       '현찰',      '파실 때',        '환율'),
            (       '현찰',      '파실 때',    'Spread'),
            (       '송금',      '보낼 때',      '보낼 때'),
            (       '송금',      '받을 때',      '받을 때'),
            (  'T/C 사실때',   'T/C 사실때',   'T/C 사실때'),
            ('외화 수표 파실때', '외화 수표 파실때', '외화 수표 파실때'),
            (   '매매 기준율',    '매매 기준율',    '매매 기준율'),
            (    '환가 료율',     '환가 료율',     '환가 료율'),
            (   '미화 환산율',    '미화 환산율',    '미화 환산율')],
           )

In [ ]:
for i in hana.columns:
    print(i[0] + "_" + i[1])

통화_통화
현찰_사실 때
현찰_사실 때
현찰_파실 때
현찰_파실 때
송금_보낼 때
송금_받을 때
T/C 사실때_T/C 사실때
외화 수표 파실때_외화 수표 파실때
매매 기준율_매매 기준율
환가 료율_환가 료율
미화 환산율_미화 환산율

In [ ]:
# 매개변수 기준으로 합쳐서 문자열로 return
"_".join(i[:2])

'미화 환산율_미화 환산율'

In [ ]:
[i[0] + "_" + i[1] for i in hana.columns]

['통화_통화',
 '현찰_사실 때',
 '현찰_사실 때',
 '현찰_파실 때',
 '현찰_파실 때',
 '송금_보낼 때',
 '송금_받을 때',
 'T/C 사실때_T/C 사실때',
 '외화 수표 파실때_외화 수표 파실때',
 '매매 기준율_매매 기준율',
 '환가 료율_환가 료율',
 '미화 환산율_미화 환산율']

In [ ]:
# DataFrame.columns -> 컬럼 이름 series 형태로 출력
# DataFrame.columns = [] -> 칼럼 개수와 리스트 개수가 동일해야함
hana.columns = ["_".join(i[:2]) for i in hana.columns]

In [ ]:
hana

,통화_통화,현찰_사실 때,현찰_사실 때,현찰_파실 때,현찰_파실 때,송금_보낼 때,송금_받을 때,T/C 사실때_T/C 사실때,외화 수표 파실때_외화 수표 파실때,매매 기준율_매매 기준율,환가 료율_환가 료율,미화 환산율_미화 환산율
0,미국 USD,1371.59,1.75,1324.41,1.75,1361.20,1334.80,0.0,1332.12,1348.00,7.17404,1.0000
1,일본 JPY (100),904.18,1.75,873.08,1.75,897.33,879.93,0.0,879.46,888.63,2.16773,0.6592
2,유로 EUR,1489.69,1.99,1431.57,1.99,1475.23,1446.03,0.0,1443.67,1460.63,5.83000,1.0836
3,중국 CNY,195.26,5.00,176.68,5.00,187.82,184.12,0.0,0.00,185.97,6.19606,0.1380
4,홍콩 HKD,175.58,1.97,168.80,1.97,173.91,170.47,0.0,170.20,172.19,6.55766,0.1277
5,태국 THB,38.66,5.00,34.62,6.00,37.18,36.46,0.0,36.42,36.82,4.52500,0.0273
6,대만 TWD,47.60,13.10,37.89,10.00,0.00,0.00,0.0,0.00,42.09,3.40400,0.0312
7,필리핀 PHP,26.29,10.00,21.95,8.20,24.13,23.67,0.0,0.00,23.90,8.09600,0.0177
8,싱가포르 SGD,1019.78,1.99,980.00,1.99,1009.88,989.90,0.0,988.15,999.89,7.13500,0.7418
9,호주 AUD,902.26,1.97,867.40,1.97,893.67,875.99,0.0,874.45,884.83,6.39200,0.6564
10,베트남 VND (100),6.02,11.80,4.76,11.80,5.44,5.34,0.0,0.00,5.39,4.35500,0.0040
11,영국 GBP,1739.15,1.97,1671.97,1.97,1722.61,1688.51,0.0,1685.07,1705.56,7.37266,1.2653
12,캐나다 CAD,1016.03,1.97,976.79,1.97,1006.37,986.45,0.0,984.53,996.41,6.97466,0.7392
13,말레이시아 MYR,304.46,7.40,262.52,7.40,0.00,280.66,0.0,0.00,283.49,5.26666,0.2103
14,러시아 RUB,15.99,9.50,12.06,17.50,15.12,14.10,0.0,0.00,14.61,2.97500,0.0108
15,남아공화국 ZAR,77.97,8.00,66.43,8.00,73.06,71.34,0.0,0.00,72.20,10.77033,0.0536
16,노르웨이 NOK,129.91,3.30,118.60,5.70,127.01,124.51,0.0,124.28,125.76,6.65033,0.0933
17,뉴질랜드 NZD,825.90,1.97,794.00,1.97,818.04,801.86,0.0,800.20,809.95,7.49300,0.6009
18,덴마크 DKK,202.27,3.30,184.65,5.70,197.76,193.86,0.0,193.55,195.81,5.82800,0.1453
19,멕시코 MXN,90.06,10.50,72.96,10.50,82.32,80.70,0.0,0.00,81.51,13.08400,0.0605
20,몽골 MNT,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.40,13.47500,0.0003
21,바레인 BHD,3804.43,6.40,3289.56,8.00,3611.35,3539.85,0.0,3531.27,3575.60,8.64000,2.6525
22,방글라데시 BDT,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,12.28,10.79940,0.0091
23,브라질 BRL,294.88,10.20,240.84,10.00,0.00,264.38,0.0,0.00,267.59,11.55000,0.1985
24,브루나이 BND,1039.88,4.00,939.90,6.00,0.00,0.00,0.0,0.00,999.89,6.52500,0.7418
25,사우디아라비아 SAR,382.03,6.30,334.60,6.90,362.98,355.80,0.0,355.01,359.39,7.97766,0.2666
26,스리랑카 LKR,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,4.50,14.14166,0.0033
27,스웨덴 SEK,130.79,3.30,119.41,5.70,127.88,125.36,0.0,125.15,126.62,6.12833,0.0939
28,스위스 CHF,1522.12,1.97,1463.32,1.97,1507.64,1477.80,0.0,1476.28,1492.72,3.68866,1.1074
29,아랍에미리트공화국 AED,387.23,5.50,341.73,6.90,370.72,363.38,0.0,362.87,367.05,5.07500,0.2723
30,알제리 DZD,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,10.02,3.97500,0.0074
31,오만 OMR,3751.25,7.00,3260.45,7.00,0.00,0.00,0.0,0.00,3505.85,4.32500,2.6008
32,요르단 JOD,2070.48,8.90,1749.17,8.00,0.00,0.00,0.0,0.00,1901.27,9.61100,1.4104
33,이스라엘 ILS,400.08,10.00,334.62,8.00,0.00,0.00,0.0,0.00,363.71,6.51866,0.2698
34,이집트 EGP,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,28.47,3.97500,0.0211
35,인도 INR,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,16.14,9.23111,0.0120
36,인도네시아 IDR (100),9.33,10.00,7.65,10.00,8.57,8.41,0.0,8.40,8.49,8.66333,0.0063
37,체코 CZK,62.56,8.50,52.48,9.00,58.29,57.03,0.0,0.00,57.66,8.06733,0.0428
38,칠레 CLP,1.55,10.00,1.27,10.00,0.00,0.00,0.0,0.00,1.41,8.21100,0.0010
39,카자흐스탄 KZT,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,3.02,19.17500,0.0022
40,카타르 QAR,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,369.67,3.35500,0.2742
41,케냐 KES,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,10.29,9.93333,0.0076
42,콜롬비아 COP,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.35,0.00000,0.0003
43,쿠웨이트 KWD,4665.49,6.50,4030.29,8.00,4424.55,4336.95,0.0,4329.99,4380.75,5.72500,3.2498
44,탄자니아 TZS,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.52,9.26500,0.0004
45,튀르키예 TRY,0.00,0.00,0.00,0.00,42.67,41.75,0.0,0.00,42.21,56.87500,0.0313
46,파키스탄 PKR,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,4.85,23.63666,0.0036
47,폴란드 PLN,367.55,8.00,313.11,8.00,344.07,336.59,0.0,0.00,340.33,8.32966,0.2525
48,헝가리 HUF,4.06,9.30,3.43,8.00,3.76,3.68,0.0,0.00,3.72,10.95400,0.0028
49,네팔 NPR,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,10.10,0.00000,0.0075
50,마카오 MOP,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,167.09,0.00000,0.1240
51,캄보디아 KHR,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.33,0.00000,0.0002
52,피지 FJD,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,599.32,0.00000,0.4446
53,리비아 LYD,0.00,0.00,0.00,0.00,280.82,275.26,0.0,0.00,278.04,0.00000,0.2063
54,루마니아 RON,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,293.89,0.00000,0.2180
55,미얀마 MMK,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.64,0.00000,0.0005
56,에티오피아 ETB,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,23.72,0.00000,0.0176
57,우즈베키스탄 UZS,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.11,0.00000,0.0001

In [ ]:
# 순서 교체
hana = hana[[]]

In [ ]:
def get_exchange(code_="USD", date_=None):
    return hana.loc[hana['통화_통화'].str.find(f"{code_.upper()}") > -1, '현찰_파실 때'].iloc[0,0]

In [ ]:
get_exchange("jpy")

873.08

# 병령처리

In [ ]:
payload = {"ajax": "true",
            "curCd": "",
            "tmpInqStrDt": "2024-01-02",
            "pbldDvCd": "0",
            "pbldSqn": "",
            "hid_key_data": "",
            "inqStrDt": "20240102",
            "inqKindCd": "1",
            "hid_enc_data": "",
            "requestTarget": "searchContentDiv",}

url = "https://www.kebhana.com/cms/rate/wpfxd651_01i_01.do"

r = requests.post(url, data=payload)

exchange = pd.read_html(r.text)[0]

C:\Users\Playdata\AppData\Local\Temp\ipykernel_8860\125736900.py:16: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  exchange = pd.read_html(r.text)[0]

In [ ]:
exchange

                 통화       현찰                              송금          T/C 사실때  \
                 통화     사실 때            파실 때            보낼 때     받을 때 T/C 사실때
                 통화       환율 Spread       환율 Spread     보낼 때     받을 때 T/C 사실때
0            미국 USD  1334.96   1.75  1289.04   1.75  1324.80  1299.20     0.0
1      일본 JPY (100)   941.20   1.75   908.84   1.75   934.08   915.96     0.0
2            유로 EUR  1464.83   1.99  1407.67   1.99  1450.61  1421.89     0.0
3            중국 CNY   192.65   5.00   174.31   5.00   185.31   181.65     0.0
4            홍콩 HKD   171.17   1.97   164.57   1.97   169.54   166.20     0.0
5            태국 THB    40.17   5.00    35.97   6.00    38.64    37.88     0.0
6            대만 TWD    47.92  13.10    38.14  10.00     0.00     0.00     0.0
7           필리핀 PHP    25.96  10.00    21.67   8.20    23.83    23.37     0.0
8          싱가포르 SGD  1008.40   1.99   969.06   1.99   998.61   978.85     0.0
9            호주 AUD   904.11   1.97   869.19   1.97   895.51   877.79     0.0
10    베트남 VND (100)     6.02  11.80     4.76  11.80     5.44     5.34     0.0
11           영국 GBP  1688.42   1.97  1623.20   1.97  1672.36  1639.26     0.0
12          캐나다 CAD  1003.40   1.97   964.64   1.97   993.86   974.18     0.0
13        말레이시아 MYR   306.15   7.40   263.97   7.40     0.00   282.21     0.0
14          러시아 RUB    15.74   9.50    11.87  17.50    14.88    13.88     0.0
15        남아공화국 ZAR    76.31   8.00    65.01   8.00    71.50    69.82     0.0
16         노르웨이 NOK   130.87   3.30   119.47   5.70   127.95   125.43     0.0
17         뉴질랜드 NZD   836.15   1.97   803.85   1.97   828.20   811.80     0.0
18          덴마크 DKK   199.00   3.30   181.67   5.70   194.57   190.73     0.0
19          멕시코 MXN    85.05  10.50    68.89  10.50    77.73    76.21     0.0
20           몽골 MNT     0.00   0.00     0.00   0.00     0.00     0.00     0.0
21          바레인 BHD  3702.93   6.40  3201.79   8.00  3515.00  3445.40     0.0
22        방글라데시 BDT     0.00   0.00     0.00   0.00     0.00     0.00     0.0
23          브라질 BRL   293.96  10.20   240.09  10.00     0.00   263.56     0.0
24         브루나이 BND  1028.27   4.00   929.41   6.00     0.00     0.00     0.0
25      사우디아라비아 SAR   371.89   6.30   325.72   6.90   353.34   346.36     0.0
26         스리랑카 LKR     0.00   0.00     0.00   0.00     0.00     0.00     0.0
27          스웨덴 SEK   132.80   3.30   121.24   5.70   129.84   127.28     0.0
28          스위스 CHF  1574.48   1.97  1513.66   1.97  1559.51  1528.63     0.0
29    아랍에미리트공화국 AED   376.87   5.50   332.59   6.90   360.80   353.66     0.0
30          알제리 DZD     0.00   0.00     0.00   0.00     0.00     0.00     0.0
31           오만 OMR  3646.33   7.00  3169.25   7.00     0.00     0.00     0.0
32          요르단 JOD  2014.05   8.90  1701.50   8.00     0.00     0.00     0.0
33         이스라엘 ILS   395.57  10.00   330.85   8.00     0.00     0.00     0.0
34          이집트 EGP     0.00   0.00     0.00   0.00     0.00     0.00     0.0
35           인도 INR     0.00   0.00     0.00   0.00     0.00     0.00     0.0
36  인도네시아 IDR (100)     9.35  10.00     7.65  10.00     8.58     8.42     0.0
37           체코 CZK    63.16   8.50    52.99   9.00    58.86    57.58     0.0
38           칠레 CLP     1.62  10.00     1.34  10.00     0.00     0.00     0.0
39        카자흐스탄 KZT     0.00   0.00     0.00   0.00     0.00     0.00     0.0
40          카타르 QAR     0.00   0.00     0.00   0.00     0.00     0.00     0.0
41           케냐 KES     0.00   0.00     0.00   0.00     0.00     0.00     0.0
42         콜롬비아 COP     0.00   0.00     0.00   0.00     0.00     0.00     0.0
43         쿠웨이트 KWD  4542.67   6.50  3924.19   8.00  4308.07  4222.77     0.0
44         탄자니아 TZS     0.00   0.00     0.00   0.00     0.00     0.00     0.0
45         튀르키예 TRY     0.00   0.00     0.00   0.00    44.60    43.64     0.0
46         파키스탄 PKR     0.00   0.00     0.00   0.00     0.00     0.00     0.0
47          폴란드 PLN   355.00   8.00   302.42   8.00   332.32   325.10     0.0
48          헝가리 HUF     4.10   9.30     3.46   8.00     3.80     3.72     0.0
49           네팔 NPR     0.00   0.00     0.00   0.00     0.00     0.00     0.0
50          마카오 MOP     0.00   0.00     0.00   0.00     0.00     0.00     0.0
51         캄보디아 KHR     0.00   0.00     0.00   0.00     0.00     0.00     0.0
52           피지 FJD     0.00   0.00     0.00   0.00     0.00     0.00     0.0
53          리비아 LYD     0.00   0.00     0.00   0.00   277.53   272.05     0.0
54         루마니아 RON     0.00   0.00     0.00   0.00     0.00     0.00     0.0
55          미얀마 MMK     0.00   0.00     0.00   0.00     0.00     0.00     0.0
56        에티오피아 ETB     0.00   0.00     0.00   0.00     0.00     0.00     0.0
57       우즈베키스탄 UZS     0.00   0.00     0.00   0.00     0.00     0.00     0.0

   외화 수표 파실때   매매 기준율     환가 료율  미화 환산율
   외화 수표 파실때   매매 기준율     환가 료율  미화 환산율
   외화 수표 파실때   매매 기준율     환가 료율  미화 환산율
0    1296.58  1312.00   7.20472  1.0000
1     915.50   925.02   2.04045  0.7050
2    1419.56  1436.25   5.84700  1.0947
3       0.00   183.48   5.00803  0.1398
4     165.90   167.87   7.45400  0.1279
5      37.84    38.26   4.52500  0.0292
6       0.00    42.37   3.35900  0.0323
7       0.00    23.60   7.65600  0.0180
8     977.21   988.73   6.74333  0.7536
9     876.27   886.65   6.29900  0.6758
10      0.00     5.39   3.41166  0.0041
11   1635.91  1655.81   7.39900  1.2621
12    972.24   984.02   7.13433  0.7500
13      0.00   285.06   5.33866  0.2173
14      0.00    14.38   2.97500  0.0110
15      0.00    70.66  10.85700  0.0539
16    125.20   126.69   6.67200  0.0966
17    810.14   820.00   7.43266  0.6250
18    190.43   192.65   5.66166  0.1468
19      0.00    76.97  13.42900  0.0587
20      0.00     0.38  13.47500  0.0003
21   3437.17  3480.20   8.52000  2.6526
22      0.00    11.95  10.12920  0.0091
23      0.00   266.76   9.89900  0.2033
24      0.00   988.73   7.42500  0.7536
25    345.61   349.85   7.79433  0.2667
26      0.00     4.08  14.37500  0.0031
27    127.07   128.56   5.93766  0.0980
28   1527.01  1544.07   3.79933  1.1769
29    353.16   357.23   5.07500  0.2723
30      0.00     9.74  11.22500  0.0074
31      0.00  3407.79   4.39500  2.5974
32      0.00  1849.45   9.61100  1.4096
33      0.00   359.61   6.73133  0.2741
34      0.00    42.43  11.22500  0.0323
35      0.00    15.76   9.14150  0.0120
36      8.41     8.50   8.68333  0.0065
37      0.00    58.22   8.95766  0.0444
38      0.00     1.48   9.47700  0.0011
39      0.00     2.88  20.22500  0.0022
40      0.00   359.99   3.35500  0.2744
41      0.00     8.34   9.91666  0.0064
42      0.00     0.34   0.00000  0.0003
43   4215.40  4265.42   6.22500  3.2511
44      0.00     0.52   9.17500  0.0004
45      0.00    44.12  31.94166  0.0336
46      0.00     4.65  23.63166  0.0035
47      0.00   328.71   8.79333  0.2505
48      0.00     3.76  12.51233  0.0029
49      0.00     9.84   0.00000  0.0075
50      0.00   162.90   0.00000  0.1242
51      0.00     0.32   0.00000  0.0002
52      0.00   588.69   0.00000  0.4487
53      0.00   274.79   0.00000  0.2094
54      0.00   288.94   0.00000  0.2202
55      0.00     0.62   0.00000  0.0005
56      0.00    23.21   0.00000  0.0177
57      0.00     0.11   0.00000  0.0001

In [ ]:
payload['tmpInqStrDt']

In [ ]:
from datetime import date, datetime
import requests
import pandas as pd
def get_exchange(code_="USD", date_=None):
    """
     code_ = 통화코드
         예) USD
     date_ = 예) '2024-01-02'
    """
    payload = {"ajax": "true",
            "curCd": "",
            "pbldDvCd": "0",
            "pbldSqn": "",
            "hid_key_data": "",
            "inqKindCd": "1",
            "hid_enc_data": "",
            "requestTarget": "searchContentDiv",}
    payload['tmpInqStrDt'] = date_
    try:
        datetime.strptime(date_, "%Y-%m-%d")
    except:
        print("다시 입력")
        # date_ = str(date.today())
        return -1

    payload['inqStrDt'] = date_.replace("-", "")
    url = "https://www.kebhana.com/cms/rate/wpfxd651_01i_01.do"
    r = requests.post(url, data=payload)
    exchange = pd.read_html(r.text)[0]
    exchange.columns = ["_".join(x[:2]) for x in exchange.columns]
    return exchange.loc[exchange['통화_통화'].str.find(f"{code_.upper()}") > -1, '현찰_파실 때'].iloc[0,0]

In [ ]:
get_exchange("USD", '2024-04- 04')

다시 입력

-1

In [ ]:
from datetime import date, datetime

In [ ]:
datetime.strptime("2024-04-02", "%Y-%m-%d")

datetime.datetime(2024, 4, 2, 0, 0)

In [ ]:
# f = open("./file.txt", "w", encoding="utf-8")
# for roots, dirs, files in os.walk("/home/swp"):
#     for file in files:
#         f.write(f"{roots}/{file}\n")
# f.close()

In [ ]:
os.listdir("./")

['.bash_history',
 '.conda',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.lesshst',
 '.minttyrc',
 '.ssh',
 '.vscode',
 '.wdm',
 '20240404.ipynb',
 '3D Objects',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'file.txt',
 'hana.py',
 'IntelGraphicsProfiles',
 'kbo.pkl',
 'kbo_detail.pk1',
 'kbo_detail.pkl',
 'Links',
 'Local Settings',
 'miniconda3',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{9b786998-a861-11ec-bc22-8e27c71bbdc4}.TxR.0.regtrans-ms',
 'NTUSER.DAT{9b786998-a861-11ec-bc22-8e27c71bbdc4}.TxR.1.regtrans-ms',
 'NTUSER.DAT{9b786998-a861-11ec-bc22-8e27c71bbdc4}.TxR.2.regtrans-ms',
 'NTUSER.DAT{9b786998-a861-11ec-bc22-8e27c71bbdc4}.TxR.blf',
 'NTUSER.DAT{9b786999-a861-11ec-bc22-8e27c71bbdc4}.TM.blf',
 'NTUSER.DAT{9b786999-a861-11ec-bc22-8e27c71bbdc4}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{9b786999-a861-11ec-bc22-8e27c71bbdc4}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PlayData',
 'PrintHood',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Templates',
 'Untitled.ipynb',
 'Videos',
 '__pycache__',
 '시작 메뉴']

In [ ]:
# dict comprehension
code_master = {i1.split()[0] : i1.split()[1] for x1 in hana['통화_통화']}

KeyError: '통화_통화'

In [ ]:
# 외국인 선수데이터
kbo2 = kdf[kdf.연봉.str.find("달러") > -1].copy()

In [ ]:
# 2024-01-02 환율 기준 -> 원화(만원) -> 컬럼명은 그래도 연봉
kbo2

,선수명,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,team,신장,체중,bmi
33,산체스,No.34,1997년 04월 11일,투수(좌투좌타),베네수엘라 Fernando Ramirez(고),,500000달러,23 한화 자유선발,23한화,한화 이글스,178,99,31.246055
84,페냐,No.20,1990년 01월 25일,투수(우투우타),도미니카 Crecimiento Credy(고),100000달러,650000달러,22 한화 자유선발,22한화,한화 이글스,188,99,28.010412
85,페라자,No.30,1998년 11월 10일,외야수(우투양타),베네수엘라 San Isidro Labrador(고),200000달러,600000달러,24 한화 자유선발,24한화,한화 이글스,175,88,28.734694
124,네일,No.40,1993년 02월 08일,투수(우투우타),미국 Charleston(고)-미국 Alabama at Birmingham(대),200000달러,350000달러,24 KIA 자유선발,24KIA,KIA 타이거즈,193,83,22.282477
134,소크라테스,No.30,1992년 09월 06일,외야수(좌투좌타),도미니카 Liceo Cacique Enriquillo(고),100000달러,500000달러,22 KIA 자유선발,22KIA,KIA 타이거즈,188,93,26.312811
170,크로우,No.12,1994년 09월 09일,투수(우투우타),미국 Pigeon Forge(고)-미국 South Carolina(대),200000달러,600000달러,24 KIA 자유선발,24KIA,KIA 타이거즈,185,108,31.555880
194,더거,No.33,1995년 07월 03일,투수(우투우타),미국 Tomball(고)-미국 Texas Tech(대),100000달러,650000달러,24 SSG 자유선발,24SSG,SSG 랜더스,183,83,24.784258
218,에레디아,No.27,1991년 01월 31일,외야수(좌투우타),쿠바 Eide Luis Agusto Tursios Lima,,1150000달러,23 SSG 자유선발,23SSG,SSG 랜더스,178,88,27.774271
219,엘리아스,No.55,1988년 08월 01일,투수(좌투좌타),쿠바 Omar Ranedo(고),,650000달러,23 SSG 자유선발,23SSG,SSG 랜더스,185,92,26.880935
283,데이비슨,No.24,1991년 03월 26일,내야수(우투우타),미국 Yucaipa(고),140000달러,560000달러,24 NC 자유선발,24NC,NC 다이노스,190,104,28.808864
340,카스타노,No.20,1994년 09월 17일,투수(좌투좌타),미국 Baylor(대),130000달러,520000달러,24 NC 자유선발,24NC,NC 다이노스,190,104,28.808864
342,하트,No.30,1992년 11월 23일,투수(좌투좌타),미국 Indiana(대),200000달러,500000달러,24 NC 자유선발,24NC,NC 다이노스,196,90,23.427738
388,엔스,No.34,1991년 05월 16일,투수(좌투좌타),미국 Central Michigan,300000달러,600000달러,24 LG 자유선발,24LG,LG 트윈스,185,95,27.757487
389,오스틴,No.23,1993년 10월 14일,내야수(우투우타),미국 Klein Collins(고),100000달러,800000달러,23 LG 자유선발,23LG,LG 트윈스,183,97,28.964735
413,켈리,No.3,1989년 10월 04일,투수(우투우타),미국 Sarasota(고),300000달러,800000달러,19 LG 자유선발,19LG,LG 트윈스,191,98,26.863299
446,도슨,No.27,1995년 05월 19일,외야수(우투좌타),미국 Ohio Licking Heights(고),,550000달러,23 키움 자유선발,23키움,키움 히어로즈,183,100,29.860551
501,헤이수스,No.54,1996년 12월 10일,투수(좌투좌타),베네수엘라 Juanita Hernandez(고),,600000달러,24 키움 자유선발,24키움,키움 히어로즈,192,104,28.211806
502,후라도,No.75,1996년 01월 30일,투수(우투우타),파나마 San Judas Tadeo(고),,1200000달러,23 키움 자유선발,23키움,키움 히어로즈,187,109,31.170465
528,라모스,No.4,1992년 04월 15일,외야수(우투양타),푸에르토리코 Alfonso Casta Martinez(고)-KT,100000달러,550000달러,22 KT 자유선발,22KT,두산 베어스,183,97,28.964735
542,브랜든,No.48,1994년 06월 03일,투수(좌투좌타),미국 Virginia(대),,750000달러,22 두산 자유선발,22두산,두산 베어스,190,81,22.437673
546,알칸타라,No.43,1992년 12월 04일,투수(우투우타),도미니카 Liceo secundario Emma Balaguer(고)-KT,200000달러,800000달러,19 KT 자유선발,19KT,두산 베어스,193,100,26.846358
607,레이예스,No.29,1994년 10월 05일,외야수(우투양타),베네수엘라 Dr Felipe Guevara(고),100000달러,600000달러,24 롯데 자유선발,24롯데,롯데 자이언츠,196,87,22.646814
617,반즈,No.28,1995년 10월 01일,투수(좌투좌타),미국 Clemson(대),150000달러,850000달러,22 롯데 자유선발,22롯데,롯데 자이언츠,189,91,25.475211
630,윌커슨,No.46,1989년 05월 24일,투수(우투우타),미국 Cumberland(대),,600000달러,23 롯데 자유선발,23롯데,롯데 자이언츠,188,104,29.425079
702,레예스,No.43,1996년 11월 02일,투수(우투우타),도미니카 Melida Altagracia Baez(고),100000달러,500000달러,24 삼성 자유선발,24삼성,삼성 라이온즈,198,113,28.823589
705,맥키넌,No.24,1994년 12월 15일,내야수(우투우타),미국 Hartford(대),100000달러,900000달러,24 삼성 자유선발,24삼성,삼성 라이온즈,188,101,28.576279
750,코너,No.52,1996년 01월 24일,투수(우투우타),미국 California State(대),100000달러,800000달러,24 삼성 자유선발,24삼성,삼성 라이온즈,188,95,26.878678
779,로하스,No.3,1990년 05월 24일,외야수(우투양타),미국 Wabash Valley(대)-KT,100000달러,500000달러,17 KT 자유선발,17KT,KT 위즈,189,102,28.554632
793,벤자민,No.43,1993년 07월 26일,투수(좌투좌타),미국 Kansas(대),100000달러,900000달러,22 KT 자유선발,22KT,KT 위즈,188,95,26.878678
837,쿠에바스,No.32,1990년 10월 14일,투수(우투양타),베네수엘라 Carabobo(대),250000달러,1000000달러,19 KT 자유선발,19KT,KT 위즈,188,98,27.727478

In [ ]:
from hana import get_exchange

In [ ]:
# warning 숨기기
import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
# 단위 환산
print(int(float("{:}".format(get_exchange('usd', '2024-01-02') * 500000))) // 10000, "만원")

64452 만원

C:\Users\Playdata\hana.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  exchange = pd.read_html(r.text)[0]

In [ ]:
"{:,}".format(get_exchange('usd', '2024-01-02') * 500000)

C:\Users\Playdata\hana.py:29: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  exchange = pd.read_html(r.text)[0]

'644,520,000.0'

In [ ]:
# 앞뒤 스페이스 제거
kbo2.연봉 = kbo2.연봉.apply(lambda x : x.strip())

In [ ]:
# 연봉 리스트 추출
salarylist = list(kbo2.loc[:,'연봉'])
# type = str
salary=[]
for a in salarylist:
    salary.append(a.replace('달러',''))

print(salary)

AttributeError: 'float' object has no attribute 'replace'

# 모범답안

In [ ]:
exchange =  get_exchange('usd', '2024-01-02')

kbo2['연봉'] = kbo2.연봉.apply(lambda x : int(x[:-2]) * exchange) / 10000

In [ ]:
kbo3 = kdf[~kdf.연봉.str.find("달러") > -1].copy()

In [ ]:
# missing value 찾기
kbo3.isnull()

,선수명,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,team,신장,체중,bmi
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,False,False,False,False,False,False,False,False,False,False,False,False,False
840,False,False,False,False,False,False,False,False,False,False,False,False,False
841,False,False,False,False,False,False,False,False,False,False,False,False,False
842,False,False,False,False,False,False,False,False,False,False,False,False,False
843,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
kbo4 = kbo3[~kbo3.연봉.apply(lambda x : len(x) < 3)].copy()

kbo4.연봉 = kbo4.연봉.apply(lambda x : int(x[:-2]))


final = pd.concat([kbo2, kbo4])

In [ ]:
kbo3[kbo3.연봉.apply(lambda x : len(x) < 3)].loc[37,'연봉']

' '

In [ ]:
kbo4 = kbo3[kbo3.연봉.apply(lambda x : len(x) < 3)].copy()

,선수명,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,team,신장,체중,bmi
37,송호정,No.102,2002년 03월 10일,내야수(우투좌타),수유초-자양중-서울고,10000만원,,21 한화 2차 2라운드 12순위,21한화,한화 이글스,185,78,22.790358
47,유민,No.106,2003년 01월 20일,외야수(우투우타),역삼초-대치중-배명고,9000만원,,22 한화 2차 3라운드 21순위,22한화,한화 이글스,187,92,26.309017
56,이성민,No.113,2002년 09월 28일,투수(우투우타),남부민초-부산중-부경고,4000만원,,22 한화 2차 7라운드 61순위,,한화 이글스,191,92,25.218607
77,조은,No.103,2001년 04월 01일,투수(우언우타),대전신흥초(대전동구리틀)-한밭중-대전고,8000만원,,21 한화 2차 3라운드 22순위,21한화,한화 이글스,186,80,23.124061
127,박상준,No.05,2001년 08월 21일,내야수(좌투좌타),석교초-세광중-세광고-강릉영동대,,,22 KIA 육성선수,,KIA 타이거즈,178,104,32.824138
148,이영재,No.09,2002년 01월 11일,외야수(우투우타),연현초-평촌중-유신고,6000만원,,21 KIA 2차 5라운드 44순위,,KIA 타이거즈,184,96,28.355388
572,정은재,No.102,1991년 12월 31일,투수(우투우타),화곡초-덕수중-선린인터넷고,,,,,두산 베어스,192,92,24.956597

In [ ]:
# 팀별 평균(중앙값, 분산) 연봉 계산
final.groupby(['team'])[['연봉']].mean().sort_values(by=['연봉'], ascending=False)

                    연봉
team
LG 트윈스    16643.091892
SSG 랜더스   15763.145679
키움 히어로즈   15447.871186
KT 위즈     14893.903448
롯데 자이언츠   14764.155294
삼성 라이온즈   13852.809412
한화 이글스    13584.067416
두산 베어스    13040.944578
KIA 타이거즈  12398.912195
NC 다이노스   10992.902472
고양 히어로즈    2956.521739

In [ ]:
final.groupby(['team'])[['연봉']].agg(['mean', 'median', 'var'])

                    연봉
                  mean  median           var
team
KIA 타이거즈  12398.912195  3900.0  3.993841e+08
KT 위즈     14893.903448  3500.0  9.362636e+08
LG 트윈스    16643.091892  3600.0  1.276533e+09
NC 다이노스   10992.902472  3200.0  3.680201e+08
SSG 랜더스   15763.145679  3100.0  8.756286e+08
고양 히어로즈    2956.521739  3000.0  2.716601e+05
두산 베어스    13040.944578  3300.0  6.093241e+08
롯데 자이언츠   14764.155294  3900.0  7.617914e+08
삼성 라이온즈   13852.809412  4100.0  7.941813e+08
키움 히어로즈   15447.871186  4500.0  7.191543e+08
한화 이글스    13584.067416  3500.0  9.880097e+08

In [ ]:
# csv 파일로 저장
final.groupby(['team'])[['연봉']].agg(['mean', 'median', 'var']).to_csv("./report.csv", index=False, encoding='utf-8-sig')

# 성별 컬럼 만들어서 정보 저장

In [ ]:
# 위치변경 코드
import shutil
shutil.move('./location', '/home/location')